In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Basics').getOrCreate()
print('Spark is Connected')

24/01/09 16:40:46 WARN Utils: Your hostname, MaheshPC resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface enp5s0)
24/01/09 16:40:46 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/09 16:40:46 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/09 16:40:47 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/01/09 16:40:47 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.

Spark is Connected

In [3]:
# reading file from the json

df = spark.read.json('Datasets/people.json')

df.show()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [4]:
# to get schema details
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [9]:
# to describe data 

df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   NULL|
| stddev|7.7781745930520225|   NULL|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [10]:
# to retrive column names
df.columns

['age', 'name']

In [12]:
from pyspark.sql.types import StructField,StringType,IntegerType,StructType

# to get the column age type column

people_schema = [StructField('age',IntegerType(),True),StructField('name',StringType(),True)]

final_schema = StructType(people_schema)

In [14]:
df1 = spark.read.json('Spark_DataFrames/people.json',schema=final_schema)
df1.show()
df1.printSchema()

+----+-------+
| age|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [19]:
# to view the datatype from the df

print(type(df1['name']))

print(df1.select('name'))

print(type(df1.select('name')))

<class 'pyspark.sql.column.Column'>
DataFrame[name: string]
<class 'pyspark.sql.dataframe.DataFrame'>

In [20]:
# to view the multiple column from select

df1.select(['name','age']).show()

+-------+----+
|   name| age|
+-------+----+
|Michael|NULL|
|   Andy|  30|
| Justin|  19|
+-------+----+

In [22]:
# to rename with column

df1.withColumn('AGE',df1['age']).show()

+----+-------+
| AGE|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [28]:
# to rename column

df1.withColumnRenamed('age','AGE').show()

+----+-------+
| AGE|   name|
+----+-------+
|NULL|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [32]:
# using sql queries in the pyspark

df1.createOrReplaceTempView('people')

# res = spark.sql('select * from people')
res = spark.sql('select * from people where age>10')
res.show()

+---+------+
|age|  name|
+---+------+
| 30|  Andy|
| 19|Justin|
+---+------+