In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ops4').getOrCreate()
print('Spark is Connected')

24/01/09 17:48:48 WARN Utils: Your hostname, MaheshPC resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface enp5s0)
24/01/09 17:48:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/09 17:48:48 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/09 17:48:49 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/01/09 17:48:49 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/01/09 17:48:49 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/01/09 17:48:49 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/01/09 17:48:49 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
24/01/09 17:48:49 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

Spark is Connected

In [3]:
df = spark.read.csv('Datasets/appl_stock.csv',inferSchema=True,header=True)
df.show()

+----------+------------------+------------------+------------------+------------------+---------+------------------+
|      Date|              Open|              High|               Low|             Close|   Volume|         Adj Close|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
|2010-01-04|        213.429998|        214.499996|212.38000099999996|        214.009998|123432400|         27.727039|
|2010-01-05|        214.599998|        215.589994|        213.249994|        214.379993|150476200|27.774976000000002|
|2010-01-06|        214.379993|            215.23|        210.750004|        210.969995|138040000|27.333178000000004|
|2010-01-07|            211.75|        212.000006|        209.050005|            210.58|119282800|          27.28265|
|2010-01-08|        210.299994|        212.000006|209.06000500000002|211.98000499999998|111902700|         27.464034|
|2010-01-11|212.79999700000002|        213.000002|        208.450005|210.11000299999998|115557400|         27.221758|
|2010-01-12|209.18999499999998|209.76999500000002|        206.419998|        207.720001|148614900|          26.91211|
|2010-01-13|        207.870005|210.92999500000002|        204.099998|        210.650002|151473000|          27.29172|
|2010-01-14|210.11000299999998|210.45999700000002|        209.020004|            209.43|108223500|         27.133657|
|2010-01-15|210.92999500000002|211.59999700000003|        205.869999|            205.93|148516900|26.680197999999997|
|2010-01-19|        208.330002|215.18999900000003|        207.240004|        215.039995|182501900|27.860484999999997|
|2010-01-20|        214.910006|        215.549994|        209.500002|            211.73|153038200|         27.431644|
|2010-01-21|        212.079994|213.30999599999998|        207.210003|        208.069996|152038600|         26.957455|
|2010-01-22|206.78000600000001|        207.499996|            197.16|            197.75|220441900|         25.620401|
|2010-01-25|202.51000200000001|        204.699999|        200.190002|        203.070002|266424900|26.309658000000002|
|2010-01-26|205.95000100000001|        213.710005|        202.580004|        205.940001|466777500|         26.681494|
|2010-01-27|        206.849995|            210.58|        199.530001|        207.880005|430642100|26.932840000000002|
|2010-01-28|        204.930004|        205.500004|        198.699995|        199.289995|293375600|25.819922000000002|
|2010-01-29|        201.079996|        202.199995|        190.250002|        192.060003|311488100|         24.883208|
|2010-02-01|192.36999699999998|             196.0|191.29999899999999|        194.729998|187469100|         25.229131|
+----------+------------------+------------------+------------------+------------------+---------+------------------+
only showing top 20 rows

In [5]:
df_d = df.select(['Date','Open'])
df_d.show()

+----------+------------------+
|      Date|              Open|
+----------+------------------+
|2010-01-04|        213.429998|
|2010-01-05|        214.599998|
|2010-01-06|        214.379993|
|2010-01-07|            211.75|
|2010-01-08|        210.299994|
|2010-01-11|212.79999700000002|
|2010-01-12|209.18999499999998|
|2010-01-13|        207.870005|
|2010-01-14|210.11000299999998|
|2010-01-15|210.92999500000002|
|2010-01-19|        208.330002|
|2010-01-20|        214.910006|
|2010-01-21|        212.079994|
|2010-01-22|206.78000600000001|
|2010-01-25|202.51000200000001|
|2010-01-26|205.95000100000001|
|2010-01-27|        206.849995|
|2010-01-28|        204.930004|
|2010-01-29|        201.079996|
|2010-02-01|192.36999699999998|
+----------+------------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import dayofmonth,year,dayofyear,month,weekofyear,hour,format_number

#df_d.withColumn('year',year(df_d['Date'])).show()

#df_d.withColumn('Month',dayofmonth(df_d['Date'])).show()

#df_d.withColumn('WeekOfYear',weekofyear(df_d['Date'])).show()

#df_d.withColumn('DayOfyear',dayofyear(df_d['Date'])).show()

df_d.withColumn('DayOfMonth',dayofmonth(df_d['Date'])).show()

+----------+------------------+----------+
|      Date|              Open|DayOfMonth|
+----------+------------------+----------+
|2010-01-04|        213.429998|         4|
|2010-01-05|        214.599998|         5|
|2010-01-06|        214.379993|         6|
|2010-01-07|            211.75|         7|
|2010-01-08|        210.299994|         8|
|2010-01-11|212.79999700000002|        11|
|2010-01-12|209.18999499999998|        12|
|2010-01-13|        207.870005|        13|
|2010-01-14|210.11000299999998|        14|
|2010-01-15|210.92999500000002|        15|
|2010-01-19|        208.330002|        19|
|2010-01-20|        214.910006|        20|
|2010-01-21|        212.079994|        21|
|2010-01-22|206.78000600000001|        22|
|2010-01-25|202.51000200000001|        25|
|2010-01-26|205.95000100000001|        26|
|2010-01-27|        206.849995|        27|
|2010-01-28|        204.930004|        28|
|2010-01-29|        201.079996|        29|
|2010-02-01|192.36999699999998|         1|
+----------+------------------+----------+
only showing top 20 rows