In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('ETL1').getOrCreate()
print('SparkSession is created')

24/01/11 11:07:51 WARN Utils: Your hostname, MaheshPC resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface enp5s0)
24/01/11 11:07:51 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/11 11:07:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

SparkSession is created

In [6]:
# implementing select statement in dataframe
ord = spark.read.load('Datasets/Orders/part-00000',sep=',',format='csv',schema=('orderid int,orderdate timestamp,ordercustid int,orderstatus string'))
ord.show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|
+-------+-------------------+-----------+---------------+
only showing top 20 rows

In [7]:
data = [('Mahesh',50,40,45),('Nijan',50,50,45)]
df_s = spark.createDataFrame(data,schema=['name','m1','m2','m3'])
df_s.show()

+------+---+---+---+
|  name| m1| m2| m3|
+------+---+---+---+
|Mahesh| 50| 40| 45|
| Nijan| 50| 50| 45|
+------+---+---+---+

In [11]:
ord.select(ord.orderstatus == 'COMPLETE').show()

+------------------------+
|(orderstatus = COMPLETE)|
+------------------------+
|                   false|
|                   false|
|                    true|
|                   false|
|                    true|
|                    true|
|                    true|
|                   false|
|                   false|
|                   false|
|                   false|
|                   false|
|                   false|
|                   false|
|                    true|
|                   false|
|                    true|
|                   false|
|                   false|
|                   false|
+------------------------+
only showing top 20 rows

In [12]:
ord.where(ord.orderstatus == 'COMPLETE').show()

+-------+-------------------+-----------+-----------+
|orderid|          orderdate|ordercustid|orderstatus|
+-------+-------------------+-----------+-----------+
|      3|2013-07-25 00:00:00|      12111|   COMPLETE|
|      5|2013-07-25 00:00:00|      11318|   COMPLETE|
|      6|2013-07-25 00:00:00|       7130|   COMPLETE|
|      7|2013-07-25 00:00:00|       4530|   COMPLETE|
|     15|2013-07-25 00:00:00|       2568|   COMPLETE|
|     17|2013-07-25 00:00:00|       2667|   COMPLETE|
|     22|2013-07-25 00:00:00|        333|   COMPLETE|
|     26|2013-07-25 00:00:00|       7562|   COMPLETE|
|     28|2013-07-25 00:00:00|        656|   COMPLETE|
|     32|2013-07-25 00:00:00|       3960|   COMPLETE|
|     35|2013-07-25 00:00:00|       4840|   COMPLETE|
|     45|2013-07-25 00:00:00|       2636|   COMPLETE|
|     56|2013-07-25 00:00:00|      10519|   COMPLETE|
|     63|2013-07-25 00:00:00|       1148|   COMPLETE|
|     65|2013-07-25 00:00:00|       5903|   COMPLETE|
|     67|2013-07-25 00:00:00|       1406|   COMPLETE|
|     71|2013-07-25 00:00:00|       8646|   COMPLETE|
|     72|2013-07-25 00:00:00|       4349|   COMPLETE|
|     76|2013-07-25 00:00:00|       6898|   COMPLETE|
|     80|2013-07-25 00:00:00|       3007|   COMPLETE|
+-------+-------------------+-----------+-----------+
only showing top 20 rows

In [22]:
# using selectExpr

ord.selectExpr("substring(orderdate,1,4) as order_year").show()

+----------+
|order_year|
+----------+
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
|      2013|
+----------+
only showing top 20 rows

In [23]:
df_s.selectExpr("Stack(3, 1,2,3,4,5,6)").show()

+----+----+
|col0|col1|
+----+----+
|   1|   2|
|   3|   4|
|   5|   6|
|   1|   2|
|   3|   4|
|   5|   6|
+----+----+

In [30]:

#ord.withColumn("Order_year",substring(ord.orderdate,1,4)).show()

ord.withColumnRenamed('orderid','order_id').show()

+--------+-------------------+-----------+---------------+
|order_id|          orderdate|ordercustid|    orderstatus|
+--------+-------------------+-----------+---------------+
|       1|2013-07-25 00:00:00|      11599|         CLOSED|
|       2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|      12111|       COMPLETE|
|       4|2013-07-25 00:00:00|       8827|         CLOSED|
|       5|2013-07-25 00:00:00|      11318|       COMPLETE|
|       6|2013-07-25 00:00:00|       7130|       COMPLETE|
|       7|2013-07-25 00:00:00|       4530|       COMPLETE|
|       8|2013-07-25 00:00:00|       2911|     PROCESSING|
|       9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|
|      10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|
|      11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|
|      12|2013-07-25 00:00:00|       1837|         CLOSED|
|      13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|
|      14|2013-07-25 00:00:00|       9842|     PROCESSING|
|      15|2013-07-25 00:00:00|       2568|       COMPLETE|
|      16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|
|      17|2013-07-25 00:00:00|       2667|       COMPLETE|
|      18|2013-07-25 00:00:00|       1205|         CLOSED|
|      19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|
|      20|2013-07-25 00:00:00|       9198|     PROCESSING|
+--------+-------------------+-----------+---------------+
only showing top 20 rows

In [32]:
# to drop cols

#ord.drop('order_id')

# to drop duplicates

#ord.dropDuplicates().show()

df_s.dropDuplicates(['m1','m2']).show()

+------+---+---+---+
|  name| m1| m2| m3|
+------+---+---+---+
|Mahesh| 50| 40| 45|
| Nijan| 50| 50| 45|
+------+---+---+---+

In [35]:
# to implement where and filter

ord.where(ord.orderstatus == 'CLOSED').show()

+-------+-------------------+-----------+-----------+
|orderid|          orderdate|ordercustid|orderstatus|
+-------+-------------------+-----------+-----------+
|      1|2013-07-25 00:00:00|      11599|     CLOSED|
|      4|2013-07-25 00:00:00|       8827|     CLOSED|
|     12|2013-07-25 00:00:00|       1837|     CLOSED|
|     18|2013-07-25 00:00:00|       1205|     CLOSED|
|     24|2013-07-25 00:00:00|      11441|     CLOSED|
|     25|2013-07-25 00:00:00|       9503|     CLOSED|
|     37|2013-07-25 00:00:00|       5863|     CLOSED|
|     51|2013-07-25 00:00:00|      12271|     CLOSED|
|     57|2013-07-25 00:00:00|       7073|     CLOSED|
|     61|2013-07-25 00:00:00|       4791|     CLOSED|
|     62|2013-07-25 00:00:00|       9111|     CLOSED|
|     87|2013-07-25 00:00:00|       3065|     CLOSED|
|     90|2013-07-25 00:00:00|       9131|     CLOSED|
|    101|2013-07-25 00:00:00|       5116|     CLOSED|
|    116|2013-07-26 00:00:00|       8763|     CLOSED|
|    129|2013-07-26 00:00:00|       9937|     CLOSED|
|    133|2013-07-26 00:00:00|      10604|     CLOSED|
|    191|2013-07-26 00:00:00|         16|     CLOSED|
|    201|2013-07-26 00:00:00|       9055|     CLOSED|
|    211|2013-07-26 00:00:00|      10372|     CLOSED|
+-------+-------------------+-----------+-----------+
only showing top 20 rows

In [38]:
ord.where((ord.orderid > 5) & (ord.orderid < 15)).show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|
+-------+-------------------+-----------+---------------+

In [39]:
ord.where((ord.orderstatus == 'CLOSED') & (ord.orderid < 15)).show()

+-------+-------------------+-----------+-----------+
|orderid|          orderdate|ordercustid|orderstatus|
+-------+-------------------+-----------+-----------+
|      1|2013-07-25 00:00:00|      11599|     CLOSED|
|      4|2013-07-25 00:00:00|       8827|     CLOSED|
|     12|2013-07-25 00:00:00|       1837|     CLOSED|
+-------+-------------------+-----------+-----------+

In [41]:
# sorting the data sort() orderby()

ord.sort(ord.orderid.desc()).show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|  68883|2014-07-23 00:00:00|       5533|       COMPLETE|
|  68882|2014-07-22 00:00:00|      10000|        ON_HOLD|
|  68881|2014-07-19 00:00:00|       2518|PENDING_PAYMENT|
|  68880|2014-07-13 00:00:00|       1117|       COMPLETE|
|  68879|2014-07-09 00:00:00|        778|       COMPLETE|
|  68878|2014-07-08 00:00:00|       6753|       COMPLETE|
|  68877|2014-07-07 00:00:00|       9692|        ON_HOLD|
|  68876|2014-07-06 00:00:00|       4124|       COMPLETE|
|  68875|2014-07-04 00:00:00|      10637|        ON_HOLD|
|  68874|2014-07-03 00:00:00|       1601|       COMPLETE|
|  68873|2014-06-30 00:00:00|       4545|        PENDING|
|  68872|2014-06-29 00:00:00|       3354|       COMPLETE|
|  68871|2014-06-28 00:00:00|       4960|        PENDING|
|  68870|2014-06-26 00:00:00|       3343|       COMPLETE|
|  68869|2014-06-25 00:00:00|       7456|     PROCESSING|
|  68868|2014-06-24 00:00:00|      10184|        PENDING|
|  68867|2014-06-23 00:00:00|        869|       CANCELED|
|  68866|2014-06-20 00:00:00|       3890|PENDING_PAYMENT|
|  68865|2014-06-19 00:00:00|       4567|SUSPECTED_FRAUD|
|  68864|2014-06-18 00:00:00|       9634|        ON_HOLD|
+-------+-------------------+-----------+---------------+
only showing top 20 rows

In [42]:
ord.sort(ord.orderid.asc()).where(ord.orderstatus=='ON_HOLD').show()

+-------+-------------------+-----------+-----------+
|orderid|          orderdate|ordercustid|orderstatus|
+-------+-------------------+-----------+-----------+
|     46|2013-07-25 00:00:00|       1549|    ON_HOLD|
|     66|2013-07-25 00:00:00|       1792|    ON_HOLD|
|     89|2013-07-25 00:00:00|        824|    ON_HOLD|
|    145|2013-07-26 00:00:00|        494|    ON_HOLD|
|    151|2013-07-26 00:00:00|       2493|    ON_HOLD|
|    154|2013-07-26 00:00:00|       9993|    ON_HOLD|
|    156|2013-07-26 00:00:00|       5200|    ON_HOLD|
|    157|2013-07-26 00:00:00|       8986|    ON_HOLD|
|    169|2013-07-26 00:00:00|       2611|    ON_HOLD|
|    173|2013-07-26 00:00:00|       9027|    ON_HOLD|
|    180|2013-07-26 00:00:00|      10215|    ON_HOLD|
|    199|2013-07-26 00:00:00|       4608|    ON_HOLD|
|    228|2013-07-26 00:00:00|       6070|    ON_HOLD|
|    234|2013-07-26 00:00:00|       1010|    ON_HOLD|
|    243|2013-07-26 00:00:00|         32|    ON_HOLD|
|    286|2013-07-26 00:00:00|       9824|    ON_HOLD|
|    305|2013-07-26 00:00:00|       5618|    ON_HOLD|
|    321|2013-07-26 00:00:00|       4282|    ON_HOLD|
|    342|2013-07-26 00:00:00|       8809|    ON_HOLD|
|    381|2013-07-27 00:00:00|       5756|    ON_HOLD|
+-------+-------------------+-----------+-----------+
only showing top 20 rows

In [43]:
ord.sort(ord.orderid,ord.ordercustid,ascending=[0,1]).show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|  68883|2014-07-23 00:00:00|       5533|       COMPLETE|
|  68882|2014-07-22 00:00:00|      10000|        ON_HOLD|
|  68881|2014-07-19 00:00:00|       2518|PENDING_PAYMENT|
|  68880|2014-07-13 00:00:00|       1117|       COMPLETE|
|  68879|2014-07-09 00:00:00|        778|       COMPLETE|
|  68878|2014-07-08 00:00:00|       6753|       COMPLETE|
|  68877|2014-07-07 00:00:00|       9692|        ON_HOLD|
|  68876|2014-07-06 00:00:00|       4124|       COMPLETE|
|  68875|2014-07-04 00:00:00|      10637|        ON_HOLD|
|  68874|2014-07-03 00:00:00|       1601|       COMPLETE|
|  68873|2014-06-30 00:00:00|       4545|        PENDING|
|  68872|2014-06-29 00:00:00|       3354|       COMPLETE|
|  68871|2014-06-28 00:00:00|       4960|        PENDING|
|  68870|2014-06-26 00:00:00|       3343|       COMPLETE|
|  68869|2014-06-25 00:00:00|       7456|     PROCESSING|
|  68868|2014-06-24 00:00:00|      10184|        PENDING|
|  68867|2014-06-23 00:00:00|        869|       CANCELED|
|  68866|2014-06-20 00:00:00|       3890|PENDING_PAYMENT|
|  68865|2014-06-19 00:00:00|       4567|SUSPECTED_FRAUD|
|  68864|2014-06-18 00:00:00|       9634|        ON_HOLD|
+-------+-------------------+-----------+---------------+
only showing top 20 rows

In [46]:
# sort with partitions

df_s.rdd.getNumPartitions()

8

In [47]:
df_s.rdd.glom().collect()

[[],
 [],
 [],
 [Row(name='Mahesh', m1=50, m2=40, m3=45)],
 [],
 [],
 [],
 [Row(name='Nijan', m1=50, m2=50, m3=45)]]

In [50]:
df_s.sortWithinPartitions(df_s.name.asc()).show()

+------+---+---+---+
|  name| m1| m2| m3|
+------+---+---+---+
|Mahesh| 50| 40| 45|
| Nijan| 50| 50| 45|
+------+---+---+---+

In [51]:
# set implementation

df1 = spark.range(10)

df2 = spark.range(5,12)

df1.show()
df2.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

+---+
| id|
+---+
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
+---+

In [54]:
# implementing union and unionAll

df1.union(df2).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
+---+

In [55]:
df1.unionAll(df2).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
+---+

In [56]:
# union by name

df_s.unionByName(df_s).show()

+------+---+---+---+
|  name| m1| m2| m3|
+------+---+---+---+
|Mahesh| 50| 40| 45|
| Nijan| 50| 50| 45|
|Mahesh| 50| 40| 45|
| Nijan| 50| 50| 45|
+------+---+---+---+

In [58]:
# intersect and intersectall

df1.intersect(df2).show()

+---+
| id|
+---+
|  5|
|  6|
|  7|
|  8|
|  9|
+---+

In [59]:
df1.intersectAll(df2).show()

+---+
| id|
+---+
|  5|
|  6|
|  7|
|  9|
|  8|
+---+

In [60]:
# except all

df1.exceptAll(df2).show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [63]:
# joins in Spark

help(df1.join)

Help on method join in module pyspark.sql.dataframe:

join(other: 'DataFrame', on: Union[str, List[str], pyspark.sql.column.Column, List[pyspark.sql.column.Column], NoneType] = None, how: Optional[str] = None) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Joins with another :class:`DataFrame`, using the given join expression.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    other : :class:`DataFrame`
        Right side of the join
    on : str, list or :class:`Column`, optional
        a string for the join column name, a list of column names,
        a join expression (Column), or a list of Columns.
        If `on` is a string or a list of strings indicating the name of the join column(s),
        the column(s) must exist on both sides, and this performs an equi-join.
    how : str, optional
        default ``inner``. Must be one of: ``inner``, ``cross``, ``outer``,
        ``full``, ``fullouter``, ``full_outer``, ``left``, ``leftouter``, ``left_outer``,
        ``right``, ``rightouter``, ``right_outer``, ``semi``, ``leftsemi``, ``left_semi``,
        ``anti``, ``leftanti`` and ``left_anti``.

    Returns
    -------
    :class:`DataFrame`
        Joined DataFrame.

    Examples
    --------
    The following performs a full outer join between ``df1`` and ``df2``.

    >>> from pyspark.sql import Row
    >>> from pyspark.sql.functions import desc
    >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")]).toDF("age", "name")
    >>> df2 = spark.createDataFrame([Row(height=80, name="Tom"), Row(height=85, name="Bob")])
    >>> df3 = spark.createDataFrame([Row(age=2, name="Alice"), Row(age=5, name="Bob")])
    >>> df4 = spark.createDataFrame([
    ...     Row(age=10, height=80, name="Alice"),
    ...     Row(age=5, height=None, name="Bob"),
    ...     Row(age=None, height=None, name="Tom"),
    ...     Row(age=None, height=None, name=None),
    ... ])

    Inner join on columns (default)

    >>> df.join(df2, 'name').select(df.name, df2.height).show()
    +----+------+
    |name|height|
    +----+------+
    | Bob|    85|
    +----+------+
    >>> df.join(df4, ['name', 'age']).select(df.name, df.age).show()
    +----+---+
    |name|age|
    +----+---+
    | Bob|  5|
    +----+---+

    Outer join for both DataFrames on the 'name' column.

    >>> df.join(df2, df.name == df2.name, 'outer').select(
    ...     df.name, df2.height).sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Bob|    85|
    |Alice|  NULL|
    | NULL|    80|
    +-----+------+
    >>> df.join(df2, 'name', 'outer').select('name', 'height').sort(desc("name")).show()
    +-----+------+
    | name|height|
    +-----+------+
    |  Tom|    80|
    |  Bob|    85|
    |Alice|  NULL|
    +-----+------+

    Outer join for both DataFrams with multiple columns.

    >>> df.join(
    ...     df3,
    ...     [df.name == df3.name, df.age == df3.age],
    ...     'outer'
    ... ).select(df.name, df3.age).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  2|
    |  Bob|  5|
    +-----+---+

In [66]:
# creating dataframe for joins
df_emp = spark.createDataFrame([('Pradeep',101,10000),('Nijan',102,20000),('Sai',105,25000),('Saran',108,15000)],schema ='name string,deptid int,salary int')
df_dept = spark.createDataFrame([(101,'IT'),(102,'Finance'),(105,'Software'),(108,'Electronics')],schema ='deptid int,dname string')

df_emp.show()
df_dept.show()

+-------+------+------+
|   name|deptid|salary|
+-------+------+------+
|Pradeep|   101| 10000|
|  Nijan|   102| 20000|
|    Sai|   105| 25000|
|  Saran|   108| 15000|
+-------+------+------+

+------+-----------+
|deptid|      dname|
+------+-----------+
|   101|         IT|
|   102|    Finance|
|   105|   Software|
|   108|Electronics|
+------+-----------+

In [67]:
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid).show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [71]:
# inner joins

df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'inner').select(df_emp.name,df_dept.dname).show()

+-------+-----------+
|   name|      dname|
+-------+-----------+
|Pradeep|         IT|
|  Nijan|    Finance|
|    Sai|   Software|
|  Saran|Electronics|
+-------+-----------+

In [73]:
# left outer join 
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'left').show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [74]:
# right join
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'right').select(df_emp.deptid,df_dept.dname).show()

+------+-----------+
|deptid|      dname|
+------+-----------+
|   101|         IT|
|   102|    Finance|
|   105|   Software|
|   108|Electronics|
+------+-----------+

In [75]:
# full join
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'full').show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [76]:
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'cross').show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [77]:
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'leftanti').show()

+----+------+------+
|name|deptid|salary|
+----+------+------+
+----+------+------+

In [79]:
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'rightouter').show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [80]:
df_emp.join(df_dept,df_emp.deptid == df_dept.deptid,'leftsemi').show()

+-------+------+------+
|   name|deptid|salary|
+-------+------+------+
|Pradeep|   101| 10000|
|  Nijan|   102| 20000|
|    Sai|   105| 25000|
|  Saran|   108| 15000|
+-------+------+------+

In [82]:
df_emp.crossJoin(df_dept).show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|Pradeep|   101| 10000|   102|    Finance|
|Pradeep|   101| 10000|   105|   Software|
|Pradeep|   101| 10000|   108|Electronics|
|  Nijan|   102| 20000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|  Nijan|   102| 20000|   105|   Software|
|  Nijan|   102| 20000|   108|Electronics|
|    Sai|   105| 25000|   101|         IT|
|    Sai|   105| 25000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|    Sai|   105| 25000|   108|Electronics|
|  Saran|   108| 15000|   101|         IT|
|  Saran|   108| 15000|   102|    Finance|
|  Saran|   108| 15000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [86]:
# self join using col
from pyspark.sql.functions import col
help(col)

Help on function col in module pyspark.sql.functions:

col(col: str) -> pyspark.sql.column.Column
    Returns a :class:`~pyspark.sql.Column` based on the given column name.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    col : str
        the name for the column

    Returns
    -------
    :class:`~pyspark.sql.Column`
        the corresponding column instance.

    Examples
    --------
    >>> col('x')
    Column<'x'>
    >>> column('x')
    Column<'x'>

In [87]:
df_emp.alias('emp').join(df_dept.alias('dept'),col('emp.deptid') == col('dept.deptid'),'inner').show()

+-------+------+------+------+-----------+
|   name|deptid|salary|deptid|      dname|
+-------+------+------+------+-----------+
|Pradeep|   101| 10000|   101|         IT|
|  Nijan|   102| 20000|   102|    Finance|
|    Sai|   105| 25000|   105|   Software|
|  Saran|   108| 15000|   108|Electronics|
+-------+------+------+------+-----------+

In [92]:
# aggregations in pyspark

orditems = spark.read.load('Datasets/Order_items/part-00000',sep=',',format='csv',schema=('orditem_id int,orditem_ordid int,orditem_prodid int,quantity int,subtotal float,price float'))
orditems.show()

+----------+-------------+--------------+--------+--------+------+
|orditem_id|orditem_ordid|orditem_prodid|quantity|subtotal| price|
+----------+-------------+--------------+--------+--------+------+
|         1|            1|           957|       1|  299.98|299.98|
|         2|            2|          1073|       1|  199.99|199.99|
|         3|            2|           502|       5|   250.0|  50.0|
|         4|            2|           403|       1|  129.99|129.99|
|         5|            4|           897|       2|   49.98| 24.99|
|         6|            4|           365|       5|  299.95| 59.99|
|         7|            4|           502|       3|   150.0|  50.0|
|         8|            4|          1014|       4|  199.92| 49.98|
|         9|            5|           957|       1|  299.98|299.98|
|        10|            5|           365|       5|  299.95| 59.99|
|        11|            5|          1014|       2|   99.96| 49.98|
|        12|            5|           957|       1|  299.98|299.98|
|        13|            5|           403|       1|  129.99|129.99|
|        14|            7|          1073|       1|  199.99|199.99|
|        15|            7|           957|       1|  299.98|299.98|
|        16|            7|           926|       5|   79.95| 15.99|
|        17|            8|           365|       3|  179.97| 59.99|
|        18|            8|           365|       5|  299.95| 59.99|
|        19|            8|          1014|       4|  199.92| 49.98|
|        20|            8|           502|       1|    50.0|  50.0|
+----------+-------------+--------------+--------+--------+------+
only showing top 20 rows

In [94]:
orditems.summary().show()

24/01/11 12:24:13 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+
|summary|       orditem_id|     orditem_ordid|   orditem_prodid|          quantity|          subtotal|             price|
+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+
|  count|           172198|            172198|           172198|            172198|            172198|            172198|
|   mean|          86099.5| 34442.56682423721|660.4877176273824|2.1821275508426345|199.32066922046081|133.75906959048717|
| stddev|49709.42516431533|19883.325171992343| 310.514472790008|1.4663523175387134|112.74303987146804|118.55893633258484|
|    min|                1|                 1|               19|                 1|              9.99|              9.99|
|    25%|            43033|             17204|              403|                 1|            119.98|              50.0|
|    50%|            86085|             34464|              627|                 1|            199.92|             59.99|
|    75%|           129134|             51682|             1004|                 3|            299.95|            199.99|
|    max|           172198|             68883|             1073|                 5|           1999.99|           1999.99|
+-------+-----------------+------------------+-----------------+------------------+------------------+------------------+

In [95]:
# avg min and max

# to get the price of all items

orditems.select(orditems.price).show()

+------+
| price|
+------+
|299.98|
|199.99|
|  50.0|
|129.99|
| 24.99|
| 59.99|
|  50.0|
| 49.98|
|299.98|
| 59.99|
| 49.98|
|299.98|
|129.99|
|199.99|
|299.98|
| 15.99|
| 59.99|
| 59.99|
| 49.98|
|  50.0|
+------+
only showing top 20 rows

In [101]:
from pyspark.sql.functions import *

In [102]:
orditems.show()

+----------+-------------+--------------+--------+--------+------+
|orditem_id|orditem_ordid|orditem_prodid|quantity|subtotal| price|
+----------+-------------+--------------+--------+--------+------+
|         1|            1|           957|       1|  299.98|299.98|
|         2|            2|          1073|       1|  199.99|199.99|
|         3|            2|           502|       5|   250.0|  50.0|
|         4|            2|           403|       1|  129.99|129.99|
|         5|            4|           897|       2|   49.98| 24.99|
|         6|            4|           365|       5|  299.95| 59.99|
|         7|            4|           502|       3|   150.0|  50.0|
|         8|            4|          1014|       4|  199.92| 49.98|
|         9|            5|           957|       1|  299.98|299.98|
|        10|            5|           365|       5|  299.95| 59.99|
|        11|            5|          1014|       2|   99.96| 49.98|
|        12|            5|           957|       1|  299.98|299.98|
|        13|            5|           403|       1|  129.99|129.99|
|        14|            7|          1073|       1|  199.99|199.99|
|        15|            7|           957|       1|  299.98|299.98|
|        16|            7|           926|       5|   79.95| 15.99|
|        17|            8|           365|       3|  179.97| 59.99|
|        18|            8|           365|       5|  299.95| 59.99|
|        19|            8|          1014|       4|  199.92| 49.98|
|        20|            8|           502|       1|    50.0|  50.0|
+----------+-------------+--------------+--------+--------+------+
only showing top 20 rows

In [104]:
orditems.select(avg(orditems.price).alias('AVG_PRICE')).show()

+------------------+
|         AVG_PRICE|
+------------------+
|133.75906959048717|
+------------------+

In [106]:
orditems.select(min(orditems.price).alias('MIN_PRICE'),max(orditems.price).alias('MAX_PRICE'),sum(orditems.price).alias('SUM_PRICE')).show()

+---------+---------+--------------------+
|MIN_PRICE|MAX_PRICE|           SUM_PRICE|
+---------+---------+--------------------+
|     9.99|  1999.99|2.3033044265342712E7|
+---------+---------+--------------------+

In [107]:
orditems.select(sum(orditems.price).alias('SUM_PRICE'),sumDistinct(orditems.price).alias('SUM_DISTINCT_PRICE')).show()

/home/mahesh/.local/lib/python3.10/site-packages/pyspark/sql/functions.py:988: FutureWarning: Deprecated in 3.2, use sum_distinct instead.
  warnings.warn("Deprecated in 3.2, use sum_distinct instead.", FutureWarning)

+--------------------+------------------+
|           SUM_PRICE|SUM_DISTINCT_PRICE|
+--------------------+------------------+
|2.3033044265342712E7|  9832.41999053955|
+--------------------+------------------+

In [108]:
orditems.select(count(orditems.price).alias('COUNT_PRICE'),countDistinct(orditems.price).alias('COUNT_DISTINCT_PRICE')).show()

+-----------+--------------------+
|COUNT_PRICE|COUNT_DISTINCT_PRICE|
+-----------+--------------------+
|     172198|                  57|
+-----------+--------------------+

In [109]:
# first and last
orditems.sort(orditems.price.asc()).select(last(orditems.price)).show()

+-----------+
|last(price)|
+-----------+
|    1999.99|
+-----------+

In [110]:
orditems.sort(orditems.price.asc()).select(first(orditems.price)).show()

+------------+
|first(price)|
+------------+
|        9.99|
+------------+

In [111]:
# collect set and collect list

df_s.show()

+------+---+---+---+
|  name| m1| m2| m3|
+------+---+---+---+
|Mahesh| 50| 40| 45|
| Nijan| 50| 50| 45|
+------+---+---+---+

In [112]:
df_s.select(collect_list(df_s.m1),collect_set(df_s.m1)).show()

+----------------+---------------+
|collect_list(m1)|collect_set(m1)|
+----------------+---------------+
|        [50, 50]|           [50]|
+----------------+---------------+

In [116]:
# groupby in pyspark

data_g = [('Nijan','Finance',20000,24,'TN'),('Pradeep','Software',25000,25,'KA'),('Pravin','IT',15000,23,'TS'),
         ('Avinash','Builder',30000,24,'KL'),('Pratap','Builder',25000,25,'KA'),('Bala','Software',30000,24,'TN'),
         ('Kirthika','IT',35000,23,'KL'),('Mahesh','Finance',20000,25,'TS')]

sche = ['name','dept','salary','age','state']

df_agg = spark.createDataFrame(data=data_g,schema=sche)

df_agg.show()

+--------+--------+------+---+-----+
|    name|    dept|salary|age|state|
+--------+--------+------+---+-----+
|   Nijan| Finance| 20000| 24|   TN|
| Pradeep|Software| 25000| 25|   KA|
|  Pravin|      IT| 15000| 23|   TS|
| Avinash| Builder| 30000| 24|   KL|
|  Pratap| Builder| 25000| 25|   KA|
|    Bala|Software| 30000| 24|   TN|
|Kirthika|      IT| 35000| 23|   KL|
|  Mahesh| Finance| 20000| 25|   TS|
+--------+--------+------+---+-----+

In [117]:
df_agg.printSchema()

root
 |-- name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- age: long (nullable = true)
 |-- state: string (nullable = true)

In [119]:
df_agg.groupBy(df_agg.dept)

GroupedData[grouping expressions: [dept: string], value: [name: string, dept: string ... 3 more fields], type: GroupBy]

In [121]:
# each dept avg salary

df_agg.groupBy(df_agg.dept).avg('salary').show()

+--------+-----------+
|    dept|avg(salary)|
+--------+-----------+
| Finance|    20000.0|
|Software|    27500.0|
|      IT|    25000.0|
| Builder|    27500.0|
+--------+-----------+

In [122]:
df_agg.groupBy(df_agg.dept).max('salary').show()

+--------+-----------+
|    dept|max(salary)|
+--------+-----------+
| Finance|      20000|
|Software|      30000|
|      IT|      35000|
| Builder|      30000|
+--------+-----------+

In [123]:
df_agg.groupBy(df_agg.dept).min('salary').show()

+--------+-----------+
|    dept|min(salary)|
+--------+-----------+
| Finance|      20000|
|Software|      25000|
|      IT|      15000|
| Builder|      25000|
+--------+-----------+

In [124]:
df_agg.groupBy(df_agg.dept).sum('salary').show()

+--------+-----------+
|    dept|sum(salary)|
+--------+-----------+
| Finance|      40000|
|Software|      55000|
|      IT|      50000|
| Builder|      55000|
+--------+-----------+

In [125]:
# with multiple column
df_agg.groupBy(df_agg.dept,df_agg.state).avg('salary').show()

+--------+-----+-----------+
|    dept|state|avg(salary)|
+--------+-----+-----------+
| Finance|   TN|    20000.0|
|Software|   KA|    25000.0|
|      IT|   TS|    15000.0|
| Builder|   KL|    30000.0|
| Builder|   KA|    25000.0|
|Software|   TN|    30000.0|
|      IT|   KL|    35000.0|
| Finance|   TS|    20000.0|
+--------+-----+-----------+

In [126]:
df_agg.groupBy(df_agg.dept,df_agg.state).max('salary').show()

+--------+-----+-----------+
|    dept|state|max(salary)|
+--------+-----+-----------+
| Finance|   TN|      20000|
|Software|   KA|      25000|
|      IT|   TS|      15000|
| Builder|   KL|      30000|
| Builder|   KA|      25000|
|Software|   TN|      30000|
|      IT|   KL|      35000|
| Finance|   TS|      20000|
+--------+-----+-----------+

In [127]:
df_agg.groupBy(df_agg.dept,df_agg.state).min('salary').show()

+--------+-----+-----------+
|    dept|state|min(salary)|
+--------+-----+-----------+
| Finance|   TN|      20000|
|Software|   KA|      25000|
|      IT|   TS|      15000|
| Builder|   KL|      30000|
| Builder|   KA|      25000|
|Software|   TN|      30000|
|      IT|   KL|      35000|
| Finance|   TS|      20000|
+--------+-----+-----------+

In [131]:
df_agg.groupBy(df_agg.state).agg(min('salary').alias('MIN_SALARY'),
                               max('salary').alias('MAX_SALARY'),
                               avg('salary').alias('AVG_SALARY'),
                               sum('salary').alias('SUM_SALARY'),).show()

+-----+----------+----------+----------+----------+
|state|MIN_SALARY|MAX_SALARY|AVG_SALARY|SUM_SALARY|
+-----+----------+----------+----------+----------+
|   TN|     20000|     30000|   25000.0|     50000|
|   KA|     25000|     25000|   25000.0|     50000|
|   TS|     15000|     20000|   17500.0|     35000|
|   KL|     30000|     35000|   32500.0|     65000|
+-----+----------+----------+----------+----------+

In [132]:
df_agg.groupBy(df_agg.dept).agg(min('salary').alias('MIN_SALARY'),
                               max('salary').alias('MAX_SALARY'),
                               avg('salary').alias('AVG_SALARY'),
                               sum('salary').alias('SUM_SALARY'),).show()

+--------+----------+----------+----------+----------+
|    dept|MIN_SALARY|MAX_SALARY|AVG_SALARY|SUM_SALARY|
+--------+----------+----------+----------+----------+
| Finance|     20000|     20000|   20000.0|     40000|
|Software|     25000|     30000|   27500.0|     55000|
|      IT|     15000|     35000|   25000.0|     50000|
| Builder|     25000|     30000|   27500.0|     55000|
+--------+----------+----------+----------+----------+

In [165]:
# pivot and unpivot data
agg1 = df_agg.select(df_agg.dept,df_agg.state,df_agg.salary)
agg1.show()

+--------+-----+------+
|    dept|state|salary|
+--------+-----+------+
| Finance|   TN| 20000|
|Software|   KA| 25000|
|      IT|   TS| 15000|
| Builder|   KL| 30000|
| Builder|   KA| 25000|
|Software|   TN| 30000|
|      IT|   KL| 35000|
| Finance|   TS| 20000|
+--------+-----+------+

In [166]:
agg2 = agg1.groupBy(agg1.dept,agg1.state).sum('salary').alias('SALARY_SUM')

In [167]:
agg2.show()

+--------+-----+-----------+
|    dept|state|sum(salary)|
+--------+-----+-----------+
| Finance|   TN|      20000|
|Software|   KA|      25000|
|      IT|   TS|      15000|
| Builder|   KL|      30000|
| Builder|   KA|      25000|
|Software|   TN|      30000|
|      IT|   KL|      35000|
| Finance|   TS|      20000|
+--------+-----+-----------+

In [169]:
agg3 = agg2.groupBy(agg1.dept).pivot('state').sum('sum(salary)')

In [170]:
# unoivot the data
agg3.show()

+--------+-----+-----+-----+-----+
|    dept|   KA|   KL|   TN|   TS|
+--------+-----+-----+-----+-----+
| Builder|25000|30000| NULL| NULL|
| Finance| NULL| NULL|20000|20000|
|      IT| NULL|35000| NULL|15000|
|Software|25000| NULL|30000| NULL|
+--------+-----+-----+-----+-----+

In [172]:
agg3.createOrReplaceTempView('agg_p')

In [173]:
# to implement unpivot in agg3

spark.sql(""" select * from agg_p """).show()

+--------+-----+-----+-----+-----+
|    dept|   KA|   KL|   TN|   TS|
+--------+-----+-----+-----+-----+
| Builder|25000|30000| NULL| NULL|
| Finance| NULL| NULL|20000|20000|
|      IT| NULL|35000| NULL|15000|
|Software|25000| NULL|30000| NULL|
+--------+-----+-----+-----+-----+

In [175]:
spark.sql(""" select dept,stack(4,'KA',KA,'KL',KL,'TN',TN,'TS',TS) as (state,salary) from agg_p """).show()

+--------+-----+------+
|    dept|state|salary|
+--------+-----+------+
| Builder|   KA| 25000|
| Builder|   KL| 30000|
| Builder|   TN|  NULL|
| Builder|   TS|  NULL|
| Finance|   KA|  NULL|
| Finance|   KL|  NULL|
| Finance|   TN| 20000|
| Finance|   TS| 20000|
|      IT|   KA|  NULL|
|      IT|   KL| 35000|
|      IT|   TN|  NULL|
|      IT|   TS| 15000|
|Software|   KA| 25000|
|Software|   KL|  NULL|
|Software|   TN| 30000|
|Software|   TS|  NULL|
+--------+-----+------+

In [178]:
# another way to create is SelectExpr

agg3.selectExpr("dept","stack(4,'KA',KA,'KL',KL,'TN',TN,'TS',TS) as (state,salary)").show()

+--------+-----+------+
|    dept|state|salary|
+--------+-----+------+
| Builder|   KA| 25000|
| Builder|   KL| 30000|
| Builder|   TN|  NULL|
| Builder|   TS|  NULL|
| Finance|   KA|  NULL|
| Finance|   KL|  NULL|
| Finance|   TN| 20000|
| Finance|   TS| 20000|
|      IT|   KA|  NULL|
|      IT|   KL| 35000|
|      IT|   TN|  NULL|
|      IT|   TS| 15000|
|Software|   KA| 25000|
|Software|   KL|  NULL|
|Software|   TN| 30000|
|Software|   TS|  NULL|
+--------+-----+------+

In [179]:
# window function in DataFrame API

from pyspark.sql.window import *

print('SQL Window Functions Imported')

SQL Window Functions Imported

In [180]:
help(Window)

Help on class Window in module pyspark.sql.window:

class Window(builtins.object)
 |  Utility functions for defining window in DataFrames.
 |
 |  .. versionadded:: 1.4.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Notes
 |  -----
 |  When ordering is not defined, an unbounded window frame (rowFrame,
 |  unboundedPreceding, unboundedFollowing) is used by default. When ordering is defined,
 |  a growing window frame (rangeFrame, unboundedPreceding, currentRow) is used by default.
 |
 |  Examples
 |  --------
 |  >>> # ORDER BY date ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW
 |  >>> window = Window.orderBy("date").rowsBetween(Window.unboundedPreceding, Window.currentRow)
 |
 |  >>> # PARTITION BY country ORDER BY date RANGE BETWEEN 3 PRECEDING AND 3 FOLLOWING
 |  >>> window = Window.orderBy("date").partitionBy("country").rangeBetween(-3, 3)
 |
 |  Static methods defined here:
 |
 |  orderBy(*cols: Union[ForwardRef('ColumnOrName'), List[ForwardRef('ColumnOrName_')]]) -> 'WindowSpec'
 |      Creates a :class:`WindowSpec` with the ordering defined.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols : str, :class:`Column` or list
 |          names of columns or expressions
 |
 |      Returns
 |      -------
 |      :class: `WindowSpec`
 |          A :class:`WindowSpec` with the ordering defined.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Window
 |      >>> from pyspark.sql.functions import row_number
 |      >>> df = spark.createDataFrame(
 |      ...      [(1, "a"), (1, "a"), (2, "a"), (1, "b"), (2, "b"), (3, "b")], ["id", "category"])
 |      >>> df.show()
 |      +---+--------+
 |      | id|category|
 |      +---+--------+
 |      |  1|       a|
 |      |  1|       a|
 |      |  2|       a|
 |      |  1|       b|
 |      |  2|       b|
 |      |  3|       b|
 |      +---+--------+
 |
 |      Show row number order by ``category`` in partition ``id``.
 |
 |      >>> window = Window.partitionBy("id").orderBy("category")
 |      >>> df.withColumn("row_number", row_number().over(window)).show()
 |      +---+--------+----------+
 |      | id|category|row_number|
 |      +---+--------+----------+
 |      |  1|       a|         1|
 |      |  1|       a|         2|
 |      |  1|       b|         3|
 |      |  2|       a|         1|
 |      |  2|       b|         2|
 |      |  3|       b|         1|
 |      +---+--------+----------+
 |
 |  partitionBy(*cols: Union[ForwardRef('ColumnOrName'), List[ForwardRef('ColumnOrName_')]]) -> 'WindowSpec'
 |      Creates a :class:`WindowSpec` with the partitioning defined.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols : str, :class:`Column` or list
 |          names of columns or expressions
 |
 |      Returns
 |      -------
 |      :class: `WindowSpec`
 |          A :class:`WindowSpec` with the partitioning defined.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Window
 |      >>> from pyspark.sql.functions import row_number
 |      >>> df = spark.createDataFrame(
 |      ...      [(1, "a"), (1, "a"), (2, "a"), (1, "b"), (2, "b"), (3, "b")], ["id", "category"])
 |      >>> df.show()
 |      +---+--------+
 |      | id|category|
 |      +---+--------+
 |      |  1|       a|
 |      |  1|       a|
 |      |  2|       a|
 |      |  1|       b|
 |      |  2|       b|
 |      |  3|       b|
 |      +---+--------+
 |
 |      Show row number order by ``id`` in partition ``category``.
 |
 |      >>> window = Window.partitionBy("category").orderBy("id")
 |      >>> df.withColumn("row_number", row_number().over(window)).show()
 |      +---+--------+----------+
 |      | id|category|row_number|
 |      +---+--------+----------+
 |      |  1|       a|         1|
 |      |  1|       a|         2|
 |      |  2|       a|         3|
 |      |  1|       b|         1|
 |      |  2|       b|         2|
 |      |  3|       b|         3|
 |      +---+--------+----------+
 |
 |  rangeBetween(start: int, end: int) -> 'WindowSpec'
 |      Creates a :class:`WindowSpec` with the frame boundaries defined,
 |      from `start` (inclusive) to `end` (inclusive).
 |
 |      Both `start` and `end` are relative from the current row. For example,
 |      "0" means "current row", while "-1" means one off before the current row,
 |      and "5" means the five off after the current row.
 |
 |      We recommend users use ``Window.unboundedPreceding``, ``Window.unboundedFollowing``,
 |      and ``Window.currentRow`` to specify special boundary values, rather than using integral
 |      values directly.
 |
 |      A range-based boundary is based on the actual value of the ORDER BY
 |      expression(s). An offset is used to alter the value of the ORDER BY expression, for
 |      instance if the current ORDER BY expression has a value of 10 and the lower bound offset
 |      is -3, the resulting lower bound for the current row will be 10 - 3 = 7. This however puts a
 |      number of constraints on the ORDER BY expressions: there can be only one expression and this
 |      expression must have a numerical data type. An exception can be made when the offset is
 |      unbounded, because no value modification is needed, in this case multiple and non-numeric
 |      ORDER BY expression are allowed.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          boundary start, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedPreceding``, or
 |          any value less than or equal to max(-sys.maxsize, -9223372036854775808).
 |      end : int
 |          boundary end, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedFollowing``, or
 |          any value greater than or equal to min(sys.maxsize, 9223372036854775807).
 |
 |      Returns
 |      -------
 |      :class: `WindowSpec`
 |          A :class:`WindowSpec` with the frame boundaries defined,
 |          from `start` (inclusive) to `end` (inclusive).
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Window
 |      >>> from pyspark.sql import functions as func
 |      >>> df = spark.createDataFrame(
 |      ...      [(1, "a"), (1, "a"), (2, "a"), (1, "b"), (2, "b"), (3, "b")], ["id", "category"])
 |      >>> df.show()
 |      +---+--------+
 |      | id|category|
 |      +---+--------+
 |      |  1|       a|
 |      |  1|       a|
 |      |  2|       a|
 |      |  1|       b|
 |      |  2|       b|
 |      |  3|       b|
 |      +---+--------+
 |
 |      Calculate sum of ``id`` in the range from ``id`` of currentRow to ``id`` of currentRow + 1
 |      in partition ``category``
 |
 |      >>> window = Window.partitionBy("category").orderBy("id").rangeBetween(Window.currentRow, 1)
 |      >>> df.withColumn("sum", func.sum("id").over(window)).sort("id", "category").show()
 |      +---+--------+---+
 |      | id|category|sum|
 |      +---+--------+---+
 |      |  1|       a|  4|
 |      |  1|       a|  4|
 |      |  1|       b|  3|
 |      |  2|       a|  2|
 |      |  2|       b|  5|
 |      |  3|       b|  3|
 |      +---+--------+---+
 |
 |  rowsBetween(start: int, end: int) -> 'WindowSpec'
 |      Creates a :class:`WindowSpec` with the frame boundaries defined,
 |      from `start` (inclusive) to `end` (inclusive).
 |
 |      Both `start` and `end` are relative positions from the current row.
 |      For example, "0" means "current row", while "-1" means the row before
 |      the current row, and "5" means the fifth row after the current row.
 |
 |      We recommend users use ``Window.unboundedPreceding``, ``Window.unboundedFollowing``,
 |      and ``Window.currentRow`` to specify special boundary values, rather than using integral
 |      values directly.
 |
 |      A row based boundary is based on the position of the row within the partition.
 |      An offset indicates the number of rows above or below the current row, the frame for the
 |      current row starts or ends. For instance, given a row based sliding frame with a lower bound
 |      offset of -1 and a upper bound offset of +2. The frame for row with index 5 would range from
 |      index 4 to index 7.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          boundary start, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedPreceding``, or
 |          any value less than or equal to -9223372036854775808.
 |      end : int
 |          boundary end, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedFollowing``, or
 |          any value greater than or equal to 9223372036854775807.
 |
 |      Returns
 |      -------
 |      :class: `WindowSpec`
 |          A :class:`WindowSpec` with the frame boundaries defined,
 |          from `start` (inclusive) to `end` (inclusive).
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import Window
 |      >>> from pyspark.sql import functions as func
 |      >>> df = spark.createDataFrame(
 |      ...      [(1, "a"), (1, "a"), (2, "a"), (1, "b"), (2, "b"), (3, "b")], ["id", "category"])
 |      >>> df.show()
 |      +---+--------+
 |      | id|category|
 |      +---+--------+
 |      |  1|       a|
 |      |  1|       a|
 |      |  2|       a|
 |      |  1|       b|
 |      |  2|       b|
 |      |  3|       b|
 |      +---+--------+
 |
 |      Calculate sum of ``id`` in the range from currentRow to currentRow + 1
 |      in partition ``category``
 |
 |      >>> window = Window.partitionBy("category").orderBy("id").rowsBetween(Window.currentRow, 1)
 |      >>> df.withColumn("sum", func.sum("id").over(window)).sort("id", "category", "sum").show()
 |      +---+--------+---+
 |      | id|category|sum|
 |      +---+--------+---+
 |      |  1|       a|  2|
 |      |  1|       a|  3|
 |      |  1|       b|  3|
 |      |  2|       a|  2|
 |      |  2|       b|  5|
 |      |  3|       b|  3|
 |      +---+--------+---+
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __annotations__ = {'currentRow': <class 'int'>, 'unboundedFollowing': ...
 |
 |  currentRow = 0
 |
 |  unboundedFollowing = 9223372036854775807
 |
 |  unboundedPreceding = -9223372036854775808

In [181]:
help(WindowSpec)

Help on class WindowSpec in module pyspark.sql.window:

class WindowSpec(builtins.object)
 |  WindowSpec(jspec: py4j.java_gateway.JavaObject) -> None
 |
 |  A window specification that defines the partitioning, ordering,
 |  and frame boundaries.
 |
 |  Use the static methods in :class:`Window` to create a :class:`WindowSpec`.
 |
 |  .. versionadded:: 1.4.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Methods defined here:
 |
 |  __init__(self, jspec: py4j.java_gateway.JavaObject) -> None
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  orderBy(self, *cols: Union[ForwardRef('ColumnOrName'), List[ForwardRef('ColumnOrName_')]]) -> 'WindowSpec'
 |      Defines the ordering columns in a :class:`WindowSpec`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols : str, :class:`Column` or list
 |          names of columns or expressions
 |
 |  partitionBy(self, *cols: Union[ForwardRef('ColumnOrName'), List[ForwardRef('ColumnOrName_')]]) -> 'WindowSpec'
 |      Defines the partitioning columns in a :class:`WindowSpec`.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      cols : str, :class:`Column` or list
 |          names of columns or expressions
 |
 |  rangeBetween(self, start: int, end: int) -> 'WindowSpec'
 |      Defines the frame boundaries, from `start` (inclusive) to `end` (inclusive).
 |
 |      Both `start` and `end` are relative from the current row. For example,
 |      "0" means "current row", while "-1" means one off before the current row,
 |      and "5" means the five off after the current row.
 |
 |      We recommend users use ``Window.unboundedPreceding``, ``Window.unboundedFollowing``,
 |      and ``Window.currentRow`` to specify special boundary values, rather than using integral
 |      values directly.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          boundary start, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedPreceding``, or
 |          any value less than or equal to max(-sys.maxsize, -9223372036854775808).
 |      end : int
 |          boundary end, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedFollowing``, or
 |          any value greater than or equal to min(sys.maxsize, 9223372036854775807).
 |
 |  rowsBetween(self, start: int, end: int) -> 'WindowSpec'
 |      Defines the frame boundaries, from `start` (inclusive) to `end` (inclusive).
 |
 |      Both `start` and `end` are relative positions from the current row.
 |      For example, "0" means "current row", while "-1" means the row before
 |      the current row, and "5" means the fifth row after the current row.
 |
 |      We recommend users use ``Window.unboundedPreceding``, ``Window.unboundedFollowing``,
 |      and ``Window.currentRow`` to specify special boundary values, rather than using integral
 |      values directly.
 |
 |      .. versionadded:: 1.4.0
 |
 |      Parameters
 |      ----------
 |      start : int
 |          boundary start, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedPreceding``, or
 |          any value less than or equal to max(-sys.maxsize, -9223372036854775808).
 |      end : int
 |          boundary end, inclusive.
 |          The frame is unbounded if this is ``Window.unboundedFollowing``, or
 |          any value greater than or equal to min(sys.maxsize, 9223372036854775807).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [184]:
Window.partitionBy(agg3.dept)

In [185]:
df_agg.show()

+--------+--------+------+---+-----+
|    name|    dept|salary|age|state|
+--------+--------+------+---+-----+
|   Nijan| Finance| 20000| 24|   TN|
| Pradeep|Software| 25000| 25|   KA|
|  Pravin|      IT| 15000| 23|   TS|
| Avinash| Builder| 30000| 24|   KL|
|  Pratap| Builder| 25000| 25|   KA|
|    Bala|Software| 30000| 24|   TN|
|Kirthika|      IT| 35000| 23|   KL|
|  Mahesh| Finance| 20000| 25|   TS|
+--------+--------+------+---+-----+

In [186]:
from pyspark.sql.functions import *

In [187]:
# creating window partition
spec = Window.partitionBy('dept').orderBy(df_agg.salary.desc())

In [188]:
spec

In [189]:
df_agg.select(df_agg.dept,df_agg.salary).show()

+--------+------+
|    dept|salary|
+--------+------+
| Finance| 20000|
|Software| 25000|
|      IT| 15000|
| Builder| 30000|
| Builder| 25000|
|Software| 30000|
|      IT| 35000|
| Finance| 20000|
+--------+------+

In [191]:
# implementing row_number with rank
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Row_Num_Rank',row_number().over(spec)).show()

+--------+------+------------+
|    dept|salary|Row_Num_Rank|
+--------+------+------------+
| Builder| 30000|           1|
| Builder| 25000|           2|
| Finance| 20000|           1|
| Finance| 20000|           2|
|      IT| 35000|           1|
|      IT| 15000|           2|
|Software| 30000|           1|
|Software| 25000|           2|
+--------+------+------------+

In [192]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Row_Num_Rank',row_number().over(spec)).withColumn('Row_Rank',rank().over(spec)).show()

+--------+------+------------+--------+
|    dept|salary|Row_Num_Rank|Row_Rank|
+--------+------+------------+--------+
| Builder| 30000|           1|       1|
| Builder| 25000|           2|       2|
| Finance| 20000|           1|       1|
| Finance| 20000|           2|       1|
|      IT| 35000|           1|       1|
|      IT| 15000|           2|       2|
|Software| 30000|           1|       1|
|Software| 25000|           2|       2|
+--------+------+------------+--------+

In [193]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Row_Num_Rank',row_number().over(spec)).withColumn('Row_Rank',rank().over(spec)).withColumn('Row_Dense_rank',dense_rank().over(spec)).show()

+--------+------+------------+--------+--------------+
|    dept|salary|Row_Num_Rank|Row_Rank|Row_Dense_rank|
+--------+------+------------+--------+--------------+
| Builder| 30000|           1|       1|             1|
| Builder| 25000|           2|       2|             2|
| Finance| 20000|           1|       1|             1|
| Finance| 20000|           2|       1|             1|
|      IT| 35000|           1|       1|             1|
|      IT| 15000|           2|       2|             2|
|Software| 30000|           1|       1|             1|
|Software| 25000|           2|       2|             2|
+--------+------+------------+--------+--------------+

In [194]:
spec1 = Window.partitionBy('dept').orderBy('salary')
spec1

In [196]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Row_Num_Rank',row_number().over(spec1)).withColumn('Row_Rank',rank().over(spec1)).withColumn('Row_Dense_rank',dense_rank().over(spec1)).withColumn('Precent_rank',percent_rank().over(spec1)).show()

+--------+------+------------+--------+--------------+------------+
|    dept|salary|Row_Num_Rank|Row_Rank|Row_Dense_rank|Precent_rank|
+--------+------+------------+--------+--------------+------------+
| Builder| 25000|           1|       1|             1|         0.0|
| Builder| 30000|           2|       2|             2|         1.0|
| Finance| 20000|           1|       1|             1|         0.0|
| Finance| 20000|           2|       1|             1|         0.0|
|      IT| 15000|           1|       1|             1|         0.0|
|      IT| 35000|           2|       2|             2|         1.0|
|Software| 25000|           1|       1|             1|         0.0|
|Software| 30000|           2|       2|             2|         1.0|
+--------+------+------------+--------+--------------+------------+

In [199]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Row_Num_Rank',row_number().over(spec1)).withColumn('Row_Rank',rank().over(spec1)).withColumn('Row_Dense_rank',dense_rank().over(spec1)).withColumn('Precent_rank',percent_rank().over(spec1)).withColumn('Ntile_rank',ntile(6).over(spec1)).show()

+--------+------+------------+--------+--------------+------------+----------+
|    dept|salary|Row_Num_Rank|Row_Rank|Row_Dense_rank|Precent_rank|Ntile_rank|
+--------+------+------------+--------+--------------+------------+----------+
| Builder| 25000|           1|       1|             1|         0.0|         1|
| Builder| 30000|           2|       2|             2|         1.0|         2|
| Finance| 20000|           1|       1|             1|         0.0|         1|
| Finance| 20000|           2|       1|             1|         0.0|         2|
|      IT| 15000|           1|       1|             1|         0.0|         1|
|      IT| 35000|           2|       2|             2|         1.0|         2|
|Software| 25000|           1|       1|             1|         0.0|         1|
|Software| 30000|           2|       2|             2|         1.0|         2|
+--------+------+------------+--------+--------------+------------+----------+

In [201]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Row_Num_Rank',row_number().over(spec1)).withColumn('Row_Rank',rank().over(spec1)).withColumn('Row_Dense_rank',dense_rank().over(spec1)).withColumn('Precent_rank',percent_rank().over(spec1)).withColumn('Ntile_rank',ntile(6).over(spec1)).withColumn('Cumi_Dist_rank',cume_dist().over(spec1)).show()

+--------+------+------------+--------+--------------+------------+----------+--------------+
|    dept|salary|Row_Num_Rank|Row_Rank|Row_Dense_rank|Precent_rank|Ntile_rank|Cumi_Dist_rank|
+--------+------+------------+--------+--------------+------------+----------+--------------+
| Builder| 25000|           1|       1|             1|         0.0|         1|           0.5|
| Builder| 30000|           2|       2|             2|         1.0|         2|           1.0|
| Finance| 20000|           1|       1|             1|         0.0|         1|           1.0|
| Finance| 20000|           2|       1|             1|         0.0|         2|           1.0|
|      IT| 15000|           1|       1|             1|         0.0|         1|           0.5|
|      IT| 35000|           2|       2|             2|         1.0|         2|           1.0|
|Software| 25000|           1|       1|             1|         0.0|         1|           0.5|
|Software| 30000|           2|       2|             2|         1.0|         2|           1.0|
+--------+------+------------+--------+--------------+------------+----------+--------------+

In [202]:
# lag and lead in window function

df_agg.select(df_agg.dept,df_agg.salary).withColumn('LAG_COL',lag('salary',1,0).over(spec1)).show()

+--------+------+-------+
|    dept|salary|LAG_COL|
+--------+------+-------+
| Builder| 25000|      0|
| Builder| 30000|  25000|
| Finance| 20000|      0|
| Finance| 20000|  20000|
|      IT| 15000|      0|
|      IT| 35000|  15000|
|Software| 25000|      0|
|Software| 30000|  25000|
+--------+------+-------+

In [203]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('LEAD_COL',lead('salary',1,0).over(spec1)).show()

+--------+------+--------+
|    dept|salary|LEAD_COL|
+--------+------+--------+
| Builder| 25000|   30000|
| Builder| 30000|       0|
| Finance| 20000|   20000|
| Finance| 20000|       0|
|      IT| 15000|   35000|
|      IT| 35000|       0|
|Software| 25000|   30000|
|Software| 30000|       0|
+--------+------+--------+

In [205]:
# printing salary by dept
spec3 = Window.partitionBy('dept')
spec3

In [207]:
# aggregate function with window
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Sum_sal',sum('salary').over(spec3))\
.withColumn('Avg_sal',avg('salary').over(spec3))\
.withColumn('Max_sal',max('salary').over(spec3))\
.withColumn('Min_sal',min('salary').over(spec3))\
.withColumn('First_sal',first('salary').over(spec3))\
.withColumn('Last_sal',last('salary').over(spec3)).show()

+--------+------+-------+-------+-------+-------+---------+--------+
|    dept|salary|Sum_sal|Avg_sal|Max_sal|Min_sal|First_sal|Last_sal|
+--------+------+-------+-------+-------+-------+---------+--------+
| Builder| 30000|  55000|27500.0|  30000|  25000|    30000|   25000|
| Builder| 25000|  55000|27500.0|  30000|  25000|    30000|   25000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
|      IT| 15000|  50000|25000.0|  35000|  15000|    15000|   35000|
|      IT| 35000|  50000|25000.0|  35000|  15000|    15000|   35000|
|Software| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
|Software| 30000|  55000|27500.0|  30000|  25000|    25000|   30000|
+--------+------+-------+-------+-------+-------+---------+--------+

In [209]:
# printing salary by dept asc and desc
spec4 = Window.partitionBy('dept').orderBy(df_agg.salary.desc())
spec4

In [210]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Sum_sal',sum('salary').over(spec4))\
.withColumn('Avg_sal',avg('salary').over(spec4))\
.withColumn('Max_sal',max('salary').over(spec4))\
.withColumn('Min_sal',min('salary').over(spec4))\
.withColumn('First_sal',first('salary').over(spec4))\
.withColumn('Last_sal',last('salary').over(spec4)).show()

+--------+------+-------+-------+-------+-------+---------+--------+
|    dept|salary|Sum_sal|Avg_sal|Max_sal|Min_sal|First_sal|Last_sal|
+--------+------+-------+-------+-------+-------+---------+--------+
| Builder| 30000|  30000|30000.0|  30000|  30000|    30000|   30000|
| Builder| 25000|  55000|27500.0|  30000|  25000|    30000|   25000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
|      IT| 35000|  35000|35000.0|  35000|  35000|    35000|   35000|
|      IT| 15000|  50000|25000.0|  35000|  15000|    35000|   15000|
|Software| 30000|  30000|30000.0|  30000|  30000|    30000|   30000|
|Software| 25000|  55000|27500.0|  30000|  25000|    30000|   25000|
+--------+------+-------+-------+-------+-------+---------+--------+

In [216]:
# rangeBetween and rowsBetween

# creating spec for rangeBetween

spec_r = Window.partitionBy('dept').orderBy('salary').rangeBetween(Window.unboundedPreceding,Window.unboundedFollowing)

spec_r

In [217]:
spec_row = Window.partitionBy('dept').orderBy('salary').rowsBetween(Window.unboundedPreceding,Window.unboundedFollowing)

spec_row

In [218]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Sum_sal',sum('salary').over(spec_r))\
.withColumn('Avg_sal',avg('salary').over(spec_r))\
.withColumn('Max_sal',max('salary').over(spec_r))\
.withColumn('Min_sal',min('salary').over(spec_r))\
.withColumn('First_sal',first('salary').over(spec_r))\
.withColumn('Last_sal',last('salary').over(spec_r)).show()

+--------+------+-------+-------+-------+-------+---------+--------+
|    dept|salary|Sum_sal|Avg_sal|Max_sal|Min_sal|First_sal|Last_sal|
+--------+------+-------+-------+-------+-------+---------+--------+
| Builder| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
| Builder| 30000|  55000|27500.0|  30000|  25000|    25000|   30000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
|      IT| 15000|  50000|25000.0|  35000|  15000|    15000|   35000|
|      IT| 35000|  50000|25000.0|  35000|  15000|    15000|   35000|
|Software| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
|Software| 30000|  55000|27500.0|  30000|  25000|    25000|   30000|
+--------+------+-------+-------+-------+-------+---------+--------+

In [219]:
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Sum_sal',sum('salary').over(spec_row))\
.withColumn('Avg_sal',avg('salary').over(spec_row))\
.withColumn('Max_sal',max('salary').over(spec_row))\
.withColumn('Min_sal',min('salary').over(spec_row))\
.withColumn('First_sal',first('salary').over(spec_row))\
.withColumn('Last_sal',last('salary').over(spec_row)).show()

+--------+------+-------+-------+-------+-------+---------+--------+
|    dept|salary|Sum_sal|Avg_sal|Max_sal|Min_sal|First_sal|Last_sal|
+--------+------+-------+-------+-------+-------+---------+--------+
| Builder| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
| Builder| 30000|  55000|27500.0|  30000|  25000|    25000|   30000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
|      IT| 15000|  50000|25000.0|  35000|  15000|    15000|   35000|
|      IT| 35000|  50000|25000.0|  35000|  15000|    15000|   35000|
|Software| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
|Software| 30000|  55000|27500.0|  30000|  25000|    25000|   30000|
+--------+------+-------+-------+-------+-------+---------+--------+

In [220]:
# creatig spec by currentrow in ubounded preceding

spec_rc = Window.partitionBy('dept').orderBy('salary').rangeBetween(Window.currentRow,Window.unboundedFollowing)
spec_roc = Window.partitionBy('dept').orderBy('salary').rowsBetween(Window.currentRow,Window.unboundedFollowing)

In [221]:
spec_rc

In [222]:
spec_roc

In [223]:
# range between current row

df_agg.select(df_agg.dept,df_agg.salary).withColumn('Sum_sal',sum('salary').over(spec_rc))\
.withColumn('Avg_sal',avg('salary').over(spec_rc))\
.withColumn('Max_sal',max('salary').over(spec_rc))\
.withColumn('Min_sal',min('salary').over(spec_rc))\
.withColumn('First_sal',first('salary').over(spec_rc))\
.withColumn('Last_sal',last('salary').over(spec_rc)).show()

+--------+------+-------+-------+-------+-------+---------+--------+
|    dept|salary|Sum_sal|Avg_sal|Max_sal|Min_sal|First_sal|Last_sal|
+--------+------+-------+-------+-------+-------+---------+--------+
| Builder| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
| Builder| 30000|  30000|30000.0|  30000|  30000|    30000|   30000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
|      IT| 15000|  50000|25000.0|  35000|  15000|    15000|   35000|
|      IT| 35000|  35000|35000.0|  35000|  35000|    35000|   35000|
|Software| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
|Software| 30000|  30000|30000.0|  30000|  30000|    30000|   30000|
+--------+------+-------+-------+-------+-------+---------+--------+

In [224]:
# row between current row
df_agg.select(df_agg.dept,df_agg.salary).withColumn('Sum_sal',sum('salary').over(spec_roc))\
.withColumn('Avg_sal',avg('salary').over(spec_roc))\
.withColumn('Max_sal',max('salary').over(spec_roc))\
.withColumn('Min_sal',min('salary').over(spec_roc))\
.withColumn('First_sal',first('salary').over(spec_roc))\
.withColumn('Last_sal',last('salary').over(spec_roc)).show()

+--------+------+-------+-------+-------+-------+---------+--------+
|    dept|salary|Sum_sal|Avg_sal|Max_sal|Min_sal|First_sal|Last_sal|
+--------+------+-------+-------+-------+-------+---------+--------+
| Builder| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
| Builder| 30000|  30000|30000.0|  30000|  30000|    30000|   30000|
| Finance| 20000|  40000|20000.0|  20000|  20000|    20000|   20000|
| Finance| 20000|  20000|20000.0|  20000|  20000|    20000|   20000|
|      IT| 15000|  50000|25000.0|  35000|  15000|    15000|   35000|
|      IT| 35000|  35000|35000.0|  35000|  35000|    35000|   35000|
|Software| 25000|  55000|27500.0|  30000|  25000|    25000|   30000|
|Software| 30000|  30000|30000.0|  30000|  30000|    30000|   30000|
+--------+------+-------+-------+-------+-------+---------+--------+

In [225]:
# sampling functions

df_sample = spark.range(100)

df_sample.show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [227]:
# to implement sample in the df_sample

df_sample.sample(withReplacement=False,fraction=0.08,seed=5).show()
df_sample.sample(withReplacement=True,fraction=0.08,seed=5).show()

+---+
| id|
+---+
|  0|
|  5|
| 11|
| 12|
| 23|
| 36|
| 47|
| 52|
| 75|
| 83|
| 91|
+---+

+---+
| id|
+---+
|  7|
| 15|
| 19|
| 27|
| 34|
| 36|
| 38|
| 54|
| 58|
| 58|
| 64|
| 82|
| 83|
| 96|
| 98|
| 98|
+---+

In [231]:
#df_sample.sampleBy('key',fractions=0.2,seed=20).show()

In [232]:
# ----  builtin functions -----

In [234]:
# new column 

df_agg.withColumn('id',monotonically_increasing_id()).show()

+--------+--------+------+---+-----+-----------+
|    name|    dept|salary|age|state|         id|
+--------+--------+------+---+-----+-----------+
|   Nijan| Finance| 20000| 24|   TN|          0|
| Pradeep|Software| 25000| 25|   KA| 8589934592|
|  Pravin|      IT| 15000| 23|   TS|17179869184|
| Avinash| Builder| 30000| 24|   KL|25769803776|
|  Pratap| Builder| 25000| 25|   KA|34359738368|
|    Bala|Software| 30000| 24|   TN|42949672960|
|Kirthika|      IT| 35000| 23|   KL|51539607552|
|  Mahesh| Finance| 20000| 25|   TS|60129542144|
+--------+--------+------+---+-----+-----------+

In [235]:
# concat column

df_agg.select(concat('name',lit('|'),'age')).show()

+--------------------+
|concat(name, |, age)|
+--------------------+
|            Nijan|24|
|          Pradeep|25|
|           Pravin|23|
|          Avinash|24|
|           Pratap|25|
|             Bala|24|
|         Kirthika|23|
|           Mahesh|25|
+--------------------+

In [236]:
df_agg.select(concat('name',lit('|'),expr("length(name)"))).show()

+-----------------------------+
|concat(name, |, length(name))|
+-----------------------------+
|                      Nijan|5|
|                    Pradeep|7|
|                     Pravin|6|
|                    Avinash|7|
|                     Pratap|6|
|                       Bala|4|
|                   Kirthika|8|
|                     Mahesh|6|
+-----------------------------+

In [237]:
df_agg.select('name',expr('age+10')).show()

+--------+----------+
|    name|(age + 10)|
+--------+----------+
|   Nijan|        34|
| Pradeep|        35|
|  Pravin|        33|
| Avinash|        34|
|  Pratap|        35|
|    Bala|        34|
|Kirthika|        33|
|  Mahesh|        35|
+--------+----------+

In [238]:
df_agg.withColumn('Rand_Col',rand(80)).show(truncate=False)

+--------+--------+------+---+-----+-------------------+
|name    |dept    |salary|age|state|Rand_Col           |
+--------+--------+------+---+-----+-------------------+
|Nijan   |Finance |20000 |24 |TN   |0.05805319874181292|
|Pradeep |Software|25000 |25 |KA   |0.6290959157964514 |
|Pravin  |IT      |15000 |23 |TS   |0.7497268430518292 |
|Avinash |Builder |30000 |24 |KL   |0.49679656258740523|
|Pratap  |Builder |25000 |25 |KA   |0.3963690922633877 |
|Bala    |Software|30000 |24 |TN   |0.9760317347604822 |
|Kirthika|IT      |35000 |23 |KL   |0.5298809098336544 |
|Mahesh  |Finance |20000 |25 |TS   |0.4183706270349019 |
+--------+--------+------+---+-----+-------------------+

In [240]:
# column encryption

df_agg.select(df_agg.name,sha1(df_agg.name).alias('EncryptedName')).show()

+--------+--------------------+
|    name|       EncryptedName|
+--------+--------------------+
|   Nijan|4fe5353ae829f248f...|
| Pradeep|c3451a1e9d2cd06ba...|
|  Pravin|7cbc6c78f1c5b225f...|
| Avinash|d307c260590934729...|
|  Pratap|c59ce76ca0f380f40...|
|    Bala|861df4c2359459ecb...|
|Kirthika|b957e6151162f1d18...|
|  Mahesh|196c1f625283f4574...|
+--------+--------------------+

In [245]:
df_agg.select(df_agg.name,hash(df_agg.name).alias('EncryptedName')).show(truncate=False)

+--------+-------------+
|name    |EncryptedName|
+--------+-------------+
|Nijan   |-1260226481  |
|Pradeep |-160400060   |
|Pravin  |61319915     |
|Avinash |618121494    |
|Pratap  |-475388592   |
|Bala    |-1569279994  |
|Kirthika|1491311092   |
|Mahesh  |-1817049405  |
+--------+-------------+

In [246]:
# string Functions 

ord.show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|
+-------+-------------------+-----------+---------------+
only showing top 20 rows

In [247]:
ord.select(split(ord.orderdate,'-').alias('Splited Date')).show()

+--------------------+
|        Splited Date|
+--------------------+
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
|[2013, 07, 25 00:...|
+--------------------+
only showing top 20 rows

In [249]:
ord.select(split(ord.orderdate,'-')[0].alias('Year')).show()

+----+
|Year|
+----+
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
|2013|
+----+
only showing top 20 rows

In [250]:
# split using regex

exm = spark.createDataFrame([('1iou23y19837qiug98731',)],['s',])
exm.show()

+--------------------+
|                   s|
+--------------------+
|1iou23y19837qiug9...|
+--------------------+

In [251]:
exm.select(split(exm.s,'[0-9]+')).show()

+--------------------+
|split(s, [0-9]+, -1)|
+--------------------+
|  [, iou, y, qiug, ]|
+--------------------+

In [255]:
#lower upper initCap

ord.select(lower(ord.orderstatus),upper(ord.orderstatus),initcap(ord.orderstatus)).show()

+------------------+------------------+--------------------+
|lower(orderstatus)|upper(orderstatus)|initcap(orderstatus)|
+------------------+------------------+--------------------+
|            closed|            CLOSED|              Closed|
|   pending_payment|   PENDING_PAYMENT|     Pending_payment|
|          complete|          COMPLETE|            Complete|
|            closed|            CLOSED|              Closed|
|          complete|          COMPLETE|            Complete|
|          complete|          COMPLETE|            Complete|
|          complete|          COMPLETE|            Complete|
|        processing|        PROCESSING|          Processing|
|   pending_payment|   PENDING_PAYMENT|     Pending_payment|
|   pending_payment|   PENDING_PAYMENT|     Pending_payment|
|    payment_review|    PAYMENT_REVIEW|      Payment_review|
|            closed|            CLOSED|              Closed|
|   pending_payment|   PENDING_PAYMENT|     Pending_payment|
|        processing|        PROCESSING|          Processing|
|          complete|          COMPLETE|            Complete|
|   pending_payment|   PENDING_PAYMENT|     Pending_payment|
|          complete|          COMPLETE|            Complete|
|            closed|            CLOSED|              Closed|
|   pending_payment|   PENDING_PAYMENT|     Pending_payment|
|        processing|        PROCESSING|          Processing|
+------------------+------------------+--------------------+
only showing top 20 rows

In [268]:
""" String Syntax as Follows:

ltrim(col) rtrim(col) trim(col)

lpad(col,len,pad) rpad(col,len,pad) 

reverse(col)


"""

' String Syntax as Follows:\n\nltrim(col) rtrim(col) trim(col)\n\nlpad(col,len,pad) rpad(col,len,pad) \n\nreverse(col)\n\n\n'

In [269]:
ord.withColumn('padded_id',lpad(ord.orderid,5,'-')).show()

+-------+-------------------+-----------+---------------+---------+
|orderid|          orderdate|ordercustid|    orderstatus|padded_id|
+-------+-------------------+-----------+---------------+---------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|    ----1|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|    ----2|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|    ----3|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|    ----4|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|    ----5|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|    ----6|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|    ----7|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|    ----8|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|    ----9|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|    ---10|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|    ---11|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|    ---12|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|    ---13|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|    ---14|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|    ---15|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|    ---16|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|    ---17|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|    ---18|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|    ---19|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|    ---20|
+-------+-------------------+-----------+---------------+---------+
only showing top 20 rows

In [271]:
ord.withColumn('Reversed_status',reverse(ord.orderstatus)).show()

+-------+-------------------+-----------+---------------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|Reversed_status|
+-------+-------------------+-----------+---------------+---------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|         DESOLC|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|TNEMYAP_GNIDNEP|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|       ETELPMOC|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|         DESOLC|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|       ETELPMOC|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|       ETELPMOC|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|       ETELPMOC|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|     GNISSECORP|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|TNEMYAP_GNIDNEP|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|TNEMYAP_GNIDNEP|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW| WEIVER_TNEMYAP|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|         DESOLC|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|TNEMYAP_GNIDNEP|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|     GNISSECORP|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|       ETELPMOC|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|TNEMYAP_GNIDNEP|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|       ETELPMOC|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|         DESOLC|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|TNEMYAP_GNIDNEP|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|     GNISSECORP|
+-------+-------------------+-----------+---------------+---------------+
only showing top 20 rows

In [273]:
# concat_ws

ord.withColumn('OrderId_status',concat_ws('-->',ord.orderid,ord.orderstatus)).show()

+-------+-------------------+-----------+---------------+--------------------+
|orderid|          orderdate|ordercustid|    orderstatus|      OrderId_status|
+-------+-------------------+-----------+---------------+--------------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|          1-->CLOSED|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT| 2-->PENDING_PAYMENT|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|        3-->COMPLETE|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|          4-->CLOSED|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|        5-->COMPLETE|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|        6-->COMPLETE|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|        7-->COMPLETE|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|      8-->PROCESSING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT| 9-->PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|10-->PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW| 11-->PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|         12-->CLOSED|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|13-->PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|     14-->PROCESSING|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|       15-->COMPLETE|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|16-->PENDING_PAYMENT|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|       17-->COMPLETE|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|         18-->CLOSED|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|19-->PENDING_PAYMENT|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|     20-->PROCESSING|
+-------+-------------------+-----------+---------------+--------------------+
only showing top 20 rows

In [274]:
ord.withColumn('OrderYear',substring(ord.orderdate,1,4)).show()

+-------+-------------------+-----------+---------------+---------+
|orderid|          orderdate|ordercustid|    orderstatus|OrderYear|
+-------+-------------------+-----------+---------------+---------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|     2013|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|     2013|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|     2013|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|     2013|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|     2013|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|     2013|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|     2013|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|     2013|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|     2013|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|     2013|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|     2013|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|     2013|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|     2013|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|     2013|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|     2013|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|     2013|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|     2013|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|     2013|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|     2013|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|     2013|
+-------+-------------------+-----------+---------------+---------+
only showing top 20 rows

In [276]:
ord.withColumn('Dummy',substring_index(ord.orderdate,'-',3)).show()

+-------+-------------------+-----------+---------------+-------------------+
|orderid|          orderdate|ordercustid|    orderstatus|              Dummy|
+-------+-------------------+-----------+---------------+-------------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25 00:00:00|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25 00:00:00|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25 00:00:00|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25 00:00:00|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25 00:00:00|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25 00:00:00|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25 00:00:00|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25 00:00:00|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25 00:00:00|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25 00:00:00|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25 00:00:00|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25 00:00:00|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25 00:00:00|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25 00:00:00|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25 00:00:00|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25 00:00:00|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25 00:00:00|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25 00:00:00|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25 00:00:00|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25 00:00:00|
+-------+-------------------+-----------+---------------+-------------------+
only showing top 20 rows

In [277]:
ord.withColumn('Dummy',instr(ord.orderdate,'-')).show()

+-------+-------------------+-----------+---------------+-----+
|orderid|          orderdate|ordercustid|    orderstatus|Dummy|
+-------+-------------------+-----------+---------------+-----+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|    5|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|    5|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|    5|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|    5|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|    5|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|    5|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|    5|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|    5|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|    5|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|    5|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|    5|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|    5|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|    5|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|    5|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|    5|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|    5|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|    5|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|    5|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|    5|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|    5|
+-------+-------------------+-----------+---------------+-----+
only showing top 20 rows

In [278]:
ord.withColumn('Dummy',locate('00',ord.orderdate,2)).show()

+-------+-------------------+-----------+---------------+-----+
|orderid|          orderdate|ordercustid|    orderstatus|Dummy|
+-------+-------------------+-----------+---------------+-----+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|   12|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|   12|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|   12|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|   12|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|   12|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|   12|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|   12|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|   12|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|   12|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|   12|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|   12|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|   12|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|   12|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|   12|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|   12|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|   12|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|   12|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|   12|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|   12|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|   12|
+-------+-------------------+-----------+---------------+-----+
only showing top 20 rows

In [280]:
ord.withColumn('Translate',translate(ord.orderstatus,'CLOSED','0')).show()

+-------+-------------------+-----------+---------------+------------+
|orderid|          orderdate|ordercustid|    orderstatus|   Translate|
+-------+-------------------+-----------+---------------+------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|           0|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|PNING_PAYMNT|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|        0MPT|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|           0|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|        0MPT|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|        0MPT|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|        0MPT|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|      PR0ING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|PNING_PAYMNT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|PNING_PAYMNT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW| PAYMNT_RVIW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|           0|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|PNING_PAYMNT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|      PR0ING|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|        0MPT|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|PNING_PAYMNT|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|        0MPT|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|           0|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|PNING_PAYMNT|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|      PR0ING|
+-------+-------------------+-----------+---------------+------------+
only showing top 20 rows

In [281]:
# RegEx

df_emp.show()

+-------+------+------+
|   name|deptid|salary|
+-------+------+------+
|Pradeep|   101| 10000|
|  Nijan|   102| 20000|
|    Sai|   105| 25000|
|  Saran|   108| 15000|
+-------+------+------+

In [282]:
exm.show()

+--------------------+
|                   s|
+--------------------+
|1iou23y19837qiug9...|
+--------------------+

In [288]:
exm.select(exm.s,regexp_extract(exm.s,'(\d+)(\w+)(\s)',1)).show()

+--------------------+------------------------------------+
|                   s|regexp_extract(s, (\d+)(\w+)(\s), 1)|
+--------------------+------------------------------------+
|1iou23y19837qiug9...|                                    |
+--------------------+------------------------------------+

In [289]:
# date Functions

df_emp.withColumn('current_date',current_date()).show()

+-------+------+------+------------+
|   name|deptid|salary|current_date|
+-------+------+------+------------+
|Pradeep|   101| 10000|  2024-01-11|
|  Nijan|   102| 20000|  2024-01-11|
|    Sai|   105| 25000|  2024-01-11|
|  Saran|   108| 15000|  2024-01-11|
+-------+------+------+------------+

In [290]:
df_emp.withColumn('current_date',current_timestamp()).show()

+-------+------+------+--------------------+
|   name|deptid|salary|        current_date|
+-------+------+------+--------------------+
|Pradeep|   101| 10000|2024-01-11 16:20:...|
|  Nijan|   102| 20000|2024-01-11 16:20:...|
|    Sai|   105| 25000|2024-01-11 16:20:...|
|  Saran|   108| 15000|2024-01-11 16:20:...|
+-------+------+------+--------------------+

In [291]:
df_emp.withColumn('current_date',current_date()).withColumn('next_day',next_day(current_date(),'Mon')).show()

+-------+------+------+------------+----------+
|   name|deptid|salary|current_date|  next_day|
+-------+------+------+------------+----------+
|Pradeep|   101| 10000|  2024-01-11|2024-01-15|
|  Nijan|   102| 20000|  2024-01-11|2024-01-15|
|    Sai|   105| 25000|  2024-01-11|2024-01-15|
|  Saran|   108| 15000|  2024-01-11|2024-01-15|
+-------+------+------+------------+----------+

In [292]:
df_emp.withColumn('current_date',current_date()).withColumn('last_day',last_day(current_date())).show()

+-------+------+------+------------+----------+
|   name|deptid|salary|current_date|  last_day|
+-------+------+------+------------+----------+
|Pradeep|   101| 10000|  2024-01-11|2024-01-31|
|  Nijan|   102| 20000|  2024-01-11|2024-01-31|
|    Sai|   105| 25000|  2024-01-11|2024-01-31|
|  Saran|   108| 15000|  2024-01-11|2024-01-31|
+-------+------+------+------------+----------+

In [293]:
ord.show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|
+-------+-------------------+-----------+---------------+
only showing top 20 rows

In [294]:
ord.withColumn('DayOfWeek',dayofweek(ord.orderdate)).show()

+-------+-------------------+-----------+---------------+---------+
|orderid|          orderdate|ordercustid|    orderstatus|DayOfWeek|
+-------+-------------------+-----------+---------------+---------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|        5|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|        5|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|        5|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|        5|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|        5|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|        5|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|        5|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|        5|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|        5|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|        5|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|        5|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|        5|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|        5|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|        5|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|        5|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|        5|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|        5|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|        5|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|        5|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|        5|
+-------+-------------------+-----------+---------------+---------+
only showing top 20 rows

In [295]:
ord.withColumn('DayOfMonth',dayofmonth(ord.orderdate)).show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|DayOfMonth|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|        25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|        25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|        25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|        25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|        25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|        25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|        25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|        25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|        25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|        25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|        25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|        25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|        25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|        25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|        25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|        25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|        25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|        25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|        25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|        25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [296]:
ord.withColumn('DayOfyear',dayofyear(ord.orderdate)).show()

+-------+-------------------+-----------+---------------+---------+
|orderid|          orderdate|ordercustid|    orderstatus|DayOfyear|
+-------+-------------------+-----------+---------------+---------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|      206|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|      206|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|      206|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|      206|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|      206|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|      206|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|      206|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|      206|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|      206|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|      206|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|      206|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|      206|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|      206|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|      206|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|      206|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|      206|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|      206|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|      206|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|      206|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|      206|
+-------+-------------------+-----------+---------------+---------+
only showing top 20 rows

In [297]:
ord.withColumn('WeekOfYear',weekofyear(ord.orderdate)).show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|WeekOfYear|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|        30|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|        30|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|        30|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|        30|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|        30|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|        30|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|        30|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|        30|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|        30|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|        30|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|        30|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|        30|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|        30|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|        30|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|        30|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|        30|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|        30|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|        30|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|        30|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|        30|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [298]:
ord.withColumn('Second',second(ord.orderdate)).show()

+-------+-------------------+-----------+---------------+------+
|orderid|          orderdate|ordercustid|    orderstatus|Second|
+-------+-------------------+-----------+---------------+------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|     0|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|     0|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|     0|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|     0|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|     0|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|     0|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|     0|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|     0|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|     0|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|     0|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|     0|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|     0|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|     0|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|     0|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|     0|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|     0|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|     0|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|     0|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|     0|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|     0|
+-------+-------------------+-----------+---------------+------+
only showing top 20 rows

In [305]:
ord.withColumn('order_date',split(ord.orderdate,' ')[0]).show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [306]:
ordnew = ord.withColumn('order_date',split(ord.orderdate,' ')[0])
ordnew.show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [307]:
ordnew.select(months_between('orderdate','order_date')).show()

+-------------------------------------------+
|months_between(orderdate, order_date, true)|
+-------------------------------------------+
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
|                                        0.0|
+-------------------------------------------+
only showing top 20 rows

In [308]:
ordnew.select(date_add('order_date',10)).show()

+------------------------+
|date_add(order_date, 10)|
+------------------------+
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
|              2013-08-04|
+------------------------+
only showing top 20 rows

In [309]:
ordnew.select(date_sub('order_date',10)).show()

+------------------------+
|date_sub(order_date, 10)|
+------------------------+
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
|              2013-07-15|
+------------------------+
only showing top 20 rows

In [310]:
ordnew.select(add_months('order_date',5)).show()

+-------------------------+
|add_months(order_date, 5)|
+-------------------------+
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
|               2013-12-25|
+-------------------------+
only showing top 20 rows

In [311]:
ordnew.select(datediff('order_date','orderdate')).show()

+-------------------------------+
|datediff(order_date, orderdate)|
+-------------------------------+
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
|                              0|
+-------------------------------+
only showing top 20 rows

In [312]:
# date truncate
ordnew.select(date_trunc('YYYY','order_date')).show()

+----------------------------+
|date_trunc(YYYY, order_date)|
+----------------------------+
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
|         2013-01-01 00:00:00|
+----------------------------+
only showing top 20 rows

In [313]:
ordnew.show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [315]:
ordnew.select(isnull(ordnew.orderstatus)).show()

+---------------------+
|(orderstatus IS NULL)|
+---------------------+
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
|                false|
+---------------------+
only showing top 20 rows

In [317]:
ordnew.select(isnan(ordnew.orderid)).show()

+--------------+
|isnan(orderid)|
+--------------+
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
|         false|
+--------------+
only showing top 20 rows

In [318]:
ordnew.select(nanvl(ordnew.orderstatus,ordnew.orderid)).show()

+---------------------------+
|nanvl(orderstatus, orderid)|
+---------------------------+
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
|                       NULL|
+---------------------------+
only showing top 20 rows

In [319]:
ordnew.show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [320]:
ordnew.select(coalesce('orderid','ordercustid')).show()

+------------------------------+
|coalesce(orderid, ordercustid)|
+------------------------------+
|                             1|
|                             2|
|                             3|
|                             4|
|                             5|
|                             6|
|                             7|
|                             8|
|                             9|
|                            10|
|                            11|
|                            12|
|                            13|
|                            14|
|                            15|
|                            16|
|                            17|
|                            18|
|                            19|
|                            20|
+------------------------------+
only showing top 20 rows

In [322]:
# function collections - array and struct

df_arr = spark.sql(""" select array(struct('a',1),struct('b',2)) as data """)

In [323]:
df_arr.show()

+----------------+
|            data|
+----------------+
|[{a, 1}, {b, 2}]|
+----------------+

In [326]:
df_arr.withColumn('Size',size(df_arr.data)).show()

+----------------+----+
|            data|Size|
+----------------+----+
|[{a, 1}, {b, 2}]|   2|
+----------------+----+

In [327]:
ord.show()

+-------+-------------------+-----------+---------------+
|orderid|          orderdate|ordercustid|    orderstatus|
+-------+-------------------+-----------+---------------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|
+-------+-------------------+-----------+---------------+
only showing top 20 rows

In [333]:
df_emp.show()

+-------+------+------+
|   name|deptid|salary|
+-------+------+------+
|Pradeep|   101| 10000|
|  Nijan|   102| 20000|
|    Sai|   105| 25000|
|  Saran|   108| 15000|
+-------+------+------+

In [336]:
# df_emp.select('name',element_at('deptid',1)).show()

In [337]:
df_emp.select(struct('name','salary')).printSchema()

root
 |-- struct(name, salary): struct (nullable = false)
 |    |-- name: string (nullable = true)
 |    |-- salary: integer (nullable = true)

In [338]:
df_emp.select(array('name','salary')).printSchema()

root
 |-- array(name, salary): array (nullable = false)
 |    |-- element: string (containsNull = true)

In [345]:
# df_emp.select('salary',array_max('salary')).show()  #array_distinct(col)  array_repeat(col) array_position(col,value)  
# array_remove(col,index) array_sort(col,asc=True) array_contains(col,value)

In [346]:
data_arr = [('Nijan',24,[50,50,45]),('Pradip',25,[50,45,45]),('Pravin',24,[50,50,50])]
sche_arr = ['name','age','scores']

arr_df = spark.createDataFrame(data=data_arr,schema=sche_arr)

In [347]:
arr_df.show()

+------+---+------------+
|  name|age|      scores|
+------+---+------------+
| Nijan| 24|[50, 50, 45]|
|Pradip| 25|[50, 45, 45]|
|Pravin| 24|[50, 50, 50]|
+------+---+------------+

In [349]:
arr_df.select(array_sort(arr_df.scores)).show()

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|array_sort(scores, lambdafunction((IF(((namedlambdavariable() IS NULL) AND (namedlambdavariable() IS NULL)), 0, (IF((namedlambdavariable() IS NULL), 1, (IF((namedlambdavariable() IS NULL), -1, (IF((namedlambdavariable() < namedlambdavariable()), -1, (IF((namedlambdavariable() > namedlambdavariable()), 1, 0)))))))))), namedlambdavariable(), namedlambdavariable()))|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                                                                                                                                                 [45, 50, 50]|
|                                                                                                                                                                                                                                                                                                                                                                 [45, 45, 50]|
|                                                                                                                                                                                                                                                                                                                                                                 [50, 50, 50]|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [350]:
arr_df1 = arr_df.withColumn('scores2',array_sort(arr_df.scores))
arr_df1.show()

+------+---+------------+------------+
|  name|age|      scores|     scores2|
+------+---+------------+------------+
| Nijan| 24|[50, 50, 45]|[45, 50, 50]|
|Pradip| 25|[50, 45, 45]|[45, 45, 50]|
|Pravin| 24|[50, 50, 50]|[50, 50, 50]|
+------+---+------------+------------+

In [352]:
arr_df1.select(array_union('scores','scores2')).show()

+----------------------------+
|array_union(scores, scores2)|
+----------------------------+
|                    [50, 45]|
|                    [50, 45]|
|                        [50]|
+----------------------------+

In [353]:
arr_df1.select(array_except('scores','scores2')).show()

+-----------------------------+
|array_except(scores, scores2)|
+-----------------------------+
|                           []|
|                           []|
|                           []|
+-----------------------------+

In [354]:
arr_df1.select(array_intersect('scores','scores2')).show()

+--------------------------------+
|array_intersect(scores, scores2)|
+--------------------------------+
|                        [50, 45]|
|                        [50, 45]|
|                            [50]|
+--------------------------------+

In [355]:
arr_df1.select(array_join('scores','scores2')).show()

+---------------------------+
|array_join(scores, scores2)|
+---------------------------+
|       50scores250scores245|
|       50scores245scores245|
|       50scores250scores250|
+---------------------------+

In [357]:
arr_df1.select(arrays_zip('scores','scores2')).show()

+---------------------------+
|arrays_zip(scores, scores2)|
+---------------------------+
|       [{50, 45}, {50, 5...|
|       [{50, 45}, {45, 4...|
|       [{50, 50}, {50, 5...|
+---------------------------+

In [358]:
arr_df1.select(arrays_overlap('scores','scores2')).show()

+-------------------------------+
|arrays_overlap(scores, scores2)|
+-------------------------------+
|                           true|
|                           true|
|                           true|
+-------------------------------+

In [359]:
arr_df1.select(shuffle('scores')).show()

+---------------+
|shuffle(scores)|
+---------------+
|   [45, 50, 50]|
|   [50, 45, 45]|
|   [50, 50, 50]|
+---------------+

In [360]:
arr_df1.select(create_map('scores','scores2')).show()

+--------------------+
|map(scores, scores2)|
+--------------------+
|{[50, 50, 45] -> ...|
|{[50, 45, 45] -> ...|
|{[50, 50, 50] -> ...|
+--------------------+

In [362]:
arr_df1.select(map_from_arrays('scores','scores2')).printSchema()

root
 |-- map_from_arrays(scores, scores2): map (nullable = true)
 |    |-- key: long
 |    |-- value: long (valueContainsNull = true)

In [363]:
# null value operations

ordnew.show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [365]:
ordnew.na.drop(how='all').show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [366]:
ordnew.na.drop(how='all',thresh=1).show() # here the dataframe null values are dropped if it has more than 1

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [367]:
ordnew.na.drop(how='all',subset='order_date').show()  #dropping nulls in column

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [369]:
ordnew.na.fill('No Values').show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         CLOSED|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         CLOSED|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         CLOSED|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         CLOSED|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [370]:
ordnew.na.replace('CLOSED','Closed').show()

+-------+-------------------+-----------+---------------+----------+
|orderid|          orderdate|ordercustid|    orderstatus|order_date|
+-------+-------------------+-----------+---------------+----------+
|      1|2013-07-25 00:00:00|      11599|         Closed|2013-07-25|
|      2|2013-07-25 00:00:00|        256|PENDING_PAYMENT|2013-07-25|
|      3|2013-07-25 00:00:00|      12111|       COMPLETE|2013-07-25|
|      4|2013-07-25 00:00:00|       8827|         Closed|2013-07-25|
|      5|2013-07-25 00:00:00|      11318|       COMPLETE|2013-07-25|
|      6|2013-07-25 00:00:00|       7130|       COMPLETE|2013-07-25|
|      7|2013-07-25 00:00:00|       4530|       COMPLETE|2013-07-25|
|      8|2013-07-25 00:00:00|       2911|     PROCESSING|2013-07-25|
|      9|2013-07-25 00:00:00|       5657|PENDING_PAYMENT|2013-07-25|
|     10|2013-07-25 00:00:00|       5648|PENDING_PAYMENT|2013-07-25|
|     11|2013-07-25 00:00:00|        918| PAYMENT_REVIEW|2013-07-25|
|     12|2013-07-25 00:00:00|       1837|         Closed|2013-07-25|
|     13|2013-07-25 00:00:00|       9149|PENDING_PAYMENT|2013-07-25|
|     14|2013-07-25 00:00:00|       9842|     PROCESSING|2013-07-25|
|     15|2013-07-25 00:00:00|       2568|       COMPLETE|2013-07-25|
|     16|2013-07-25 00:00:00|       7276|PENDING_PAYMENT|2013-07-25|
|     17|2013-07-25 00:00:00|       2667|       COMPLETE|2013-07-25|
|     18|2013-07-25 00:00:00|       1205|         Closed|2013-07-25|
|     19|2013-07-25 00:00:00|       9488|PENDING_PAYMENT|2013-07-25|
|     20|2013-07-25 00:00:00|       9198|     PROCESSING|2013-07-25|
+-------+-------------------+-----------+---------------+----------+
only showing top 20 rows

In [371]:
#Mathematical and Statistical Functions

# abs(col)

orditems.show()

+----------+-------------+--------------+--------+--------+------+
|orditem_id|orditem_ordid|orditem_prodid|quantity|subtotal| price|
+----------+-------------+--------------+--------+--------+------+
|         1|            1|           957|       1|  299.98|299.98|
|         2|            2|          1073|       1|  199.99|199.99|
|         3|            2|           502|       5|   250.0|  50.0|
|         4|            2|           403|       1|  129.99|129.99|
|         5|            4|           897|       2|   49.98| 24.99|
|         6|            4|           365|       5|  299.95| 59.99|
|         7|            4|           502|       3|   150.0|  50.0|
|         8|            4|          1014|       4|  199.92| 49.98|
|         9|            5|           957|       1|  299.98|299.98|
|        10|            5|           365|       5|  299.95| 59.99|
|        11|            5|          1014|       2|   99.96| 49.98|
|        12|            5|           957|       1|  299.98|299.98|
|        13|            5|           403|       1|  129.99|129.99|
|        14|            7|          1073|       1|  199.99|199.99|
|        15|            7|           957|       1|  299.98|299.98|
|        16|            7|           926|       5|   79.95| 15.99|
|        17|            8|           365|       3|  179.97| 59.99|
|        18|            8|           365|       5|  299.95| 59.99|
|        19|            8|          1014|       4|  199.92| 49.98|
|        20|            8|           502|       1|    50.0|  50.0|
+----------+-------------+--------------+--------+--------+------+
only showing top 20 rows

In [372]:
orditems.select('subtotal',abs('subtotal')).show()

+--------+-------------+
|subtotal|abs(subtotal)|
+--------+-------------+
|  299.98|       299.98|
|  199.99|       199.99|
|   250.0|        250.0|
|  129.99|       129.99|
|   49.98|        49.98|
|  299.95|       299.95|
|   150.0|        150.0|
|  199.92|       199.92|
|  299.98|       299.98|
|  299.95|       299.95|
|   99.96|        99.96|
|  299.98|       299.98|
|  129.99|       129.99|
|  199.99|       199.99|
|  299.98|       299.98|
|   79.95|        79.95|
|  179.97|       179.97|
|  299.95|       299.95|
|  199.92|       199.92|
|    50.0|         50.0|
+--------+-------------+
only showing top 20 rows

In [373]:
orditems.select('subtotal',exp('subtotal')).show()

+--------+--------------------+
|subtotal|       EXP(subtotal)|
+--------+--------------------+
|  299.98|1.903984693297183...|
|  199.99|7.154113426419584E86|
|   250.0|3.746454614502673...|
|  129.99|2.844081833172024E56|
|   49.98|5.082039154233811E21|
|  299.95|1.847715697065926...|
|   150.0|1.393709580666379...|
|  199.92| 6.67040229003535E86|
|  299.98|1.903984693297183...|
|  299.95|1.847715697065926...|
|   99.96|2.582712196516551...|
|  299.98|1.903984693297183...|
|  129.99|2.844081833172024E56|
|  199.99|7.154113426419584E86|
|  299.98|1.903984693297183...|
|   79.95|5.270386958113296E34|
|  179.97|1.445368009750619E78|
|  299.95|1.847715697065926...|
|  199.92| 6.67040229003535E86|
|    50.0|5.184705528587072E21|
+--------+--------------------+
only showing top 20 rows

In [375]:
orditems.select('quantity',factorial('quantity')).show()

+--------+-------------------+
|quantity|factorial(quantity)|
+--------+-------------------+
|       1|                  1|
|       1|                  1|
|       5|                120|
|       1|                  1|
|       2|                  2|
|       5|                120|
|       3|                  6|
|       4|                 24|
|       1|                  1|
|       5|                120|
|       2|                  2|
|       1|                  1|
|       1|                  1|
|       1|                  1|
|       1|                  1|
|       5|                120|
|       3|                  6|
|       5|                120|
|       4|                 24|
|       1|                  1|
+--------+-------------------+
only showing top 20 rows

In [376]:
orditems.select('subtotal',sqrt('subtotal'),cbrt('subtotal'),pow('subtotal',5)).show()

+--------+------------------+------------------+--------------------+
|subtotal|    SQRT(subtotal)|    CBRT(subtotal)|  POWER(subtotal, 5)|
+--------+------------------+------------------+--------------------+
|  299.98|17.319931032955303| 6.694180816359456|2.429190552820481...|
|  199.99|14.141782260138362| 5.847938061085441|3.199200519361265E11|
|   250.0|15.811388300841896| 6.299605249474366|         9.765625E11|
|  129.99|11.401315954448595| 5.065667194894507|3.711502953893119E10|
|   49.98| 7.069653424478199|3.6835402176863457|    3.118754855178E8|
|  299.95|17.319064992286137| 6.693957663771525|2.427976168942807...|
|   150.0| 12.24744871391589| 5.313292845913056|          7.59375E10|
|  199.92|14.139306848956398| 5.847255616522475|3.193604971702272E11|
|  299.98|17.319931032955303| 6.694180816359456|2.429190552820481...|
|  299.95|17.319064992286137| 6.693957663771525|2.427976168942807...|
|   99.96| 9.997999754174465|  4.64096985839737|   9.9800155365696E9|
|  299.98|17.319931032955303| 6.694180816359456|2.429190552820481...|
|  129.99|11.401315954448595| 5.065667194894507|3.711502953893119E10|
|  199.99|14.141782260138362| 5.847938061085441|3.199200519361265E11|
|  299.98|17.319931032955303| 6.694180816359456|2.429190552820481...|
|   79.95| 8.941476217506938| 4.307971457048108| 3.266572168563583E9|
|  179.97|13.415289829918068| 5.645902489946707|1.887993948822089...|
|  299.95|17.319064992286137| 6.693957663771525|2.427976168942807...|
|  199.92|14.139306848956398| 5.847255616522475|3.193604971702272E11|
|    50.0|7.0710678118654755|3.6840314986403864|             3.125E8|
+--------+------------------+------------------+--------------------+
only showing top 20 rows

In [379]:
orditems.select('subtotal',floor('subtotal'),ceil('subtotal'),round('subtotal')).show()

+--------+---------------+--------------+------------------+
|subtotal|FLOOR(subtotal)|CEIL(subtotal)|round(subtotal, 0)|
+--------+---------------+--------------+------------------+
|  299.98|            299|           300|             300.0|
|  199.99|            199|           200|             200.0|
|   250.0|            250|           250|             250.0|
|  129.99|            129|           130|             130.0|
|   49.98|             49|            50|              50.0|
|  299.95|            299|           300|             300.0|
|   150.0|            150|           150|             150.0|
|  199.92|            199|           200|             200.0|
|  299.98|            299|           300|             300.0|
|  299.95|            299|           300|             300.0|
|   99.96|             99|           100|             100.0|
|  299.98|            299|           300|             300.0|
|  129.99|            129|           130|             130.0|
|  199.99|            199|           200|             200.0|
|  299.98|            299|           300|             300.0|
|   79.95|             79|            80|              80.0|
|  179.97|            179|           180|             180.0|
|  299.95|            299|           300|             300.0|
|  199.92|            199|           200|             200.0|
|    50.0|             50|            50|              50.0|
+--------+---------------+--------------+------------------+
only showing top 20 rows

In [380]:
orditems.select('subtotal',signum('subtotal')).show()

+--------+----------------+
|subtotal|SIGNUM(subtotal)|
+--------+----------------+
|  299.98|             1.0|
|  199.99|             1.0|
|   250.0|             1.0|
|  129.99|             1.0|
|   49.98|             1.0|
|  299.95|             1.0|
|   150.0|             1.0|
|  199.92|             1.0|
|  299.98|             1.0|
|  299.95|             1.0|
|   99.96|             1.0|
|  299.98|             1.0|
|  129.99|             1.0|
|  199.99|             1.0|
|  299.98|             1.0|
|   79.95|             1.0|
|  179.97|             1.0|
|  299.95|             1.0|
|  199.92|             1.0|
|    50.0|             1.0|
+--------+----------------+
only showing top 20 rows

In [383]:
orditems.select(corr(orditems.subtotal,orditems.quantity)).show()

+------------------------+
|corr(subtotal, quantity)|
+------------------------+
|     0.16159345250245896|
+------------------------+

In [384]:
orditems.select(covar_pop(orditems.subtotal,orditems.quantity)).show()

+-----------------------------+
|covar_pop(subtotal, quantity)|
+-----------------------------+
|           26.714638897848747|
+-----------------------------+

In [385]:
orditems.select(covar_samp(orditems.subtotal,orditems.quantity)).show()

+------------------------------+
|covar_samp(subtotal, quantity)|
+------------------------------+
|            26.714794037827364|
+------------------------------+

In [386]:
""" 
var_pop(col1,col2)
var_samp(col1,col2)
variance(col)
stddev(col)
stddev_pop(col)
stddev_samp(col)


"""

' \nvar_pop(col1,col2)\nvar_samp(col1,col2)\nvariance(col)\nsttdev(col)\nsttdev_pop(col)\nsttdev_samp(col)\n\n\n'

In [389]:
orditems.select(stddev_samp(orditems.subtotal)).show()

+---------------------+
|stddev_samp(subtotal)|
+---------------------+
|   112.74303987146804|
+---------------------+

In [390]:
arr_df1.show()

+------+---+------------+------------+
|  name|age|      scores|     scores2|
+------+---+------------+------------+
| Nijan| 24|[50, 50, 45]|[45, 50, 50]|
|Pradip| 25|[50, 45, 45]|[45, 45, 50]|
|Pravin| 24|[50, 50, 50]|[50, 50, 50]|
+------+---+------------+------------+

In [395]:
arrdf2 = arr_df1.select('name','age','scores','scores2')
arrdf2.show()

+------+---+------------+------------+
|  name|age|      scores|     scores2|
+------+---+------------+------------+
| Nijan| 24|[50, 50, 45]|[45, 50, 50]|
|Pradip| 25|[50, 45, 45]|[45, 45, 50]|
|Pravin| 24|[50, 50, 50]|[50, 50, 50]|
+------+---+------------+------------+

In [397]:
arrdf2.select('name',explode('scores')).show()

+------+---+
|  name|col|
+------+---+
| Nijan| 50|
| Nijan| 50|
| Nijan| 45|
|Pradip| 50|
|Pradip| 45|
|Pradip| 45|
|Pravin| 50|
|Pravin| 50|
|Pravin| 50|
+------+---+

In [398]:
arrdf2.select('name',explode_outer('scores')).show()

+------+---+
|  name|col|
+------+---+
| Nijan| 50|
| Nijan| 50|
| Nijan| 45|
|Pradip| 50|
|Pradip| 45|
|Pradip| 45|
|Pravin| 50|
|Pravin| 50|
|Pravin| 50|
+------+---+

In [400]:
arrdf2.select('name',posexplode('scores')).show()

+------+---+---+
|  name|pos|col|
+------+---+---+
| Nijan|  0| 50|
| Nijan|  1| 50|
| Nijan|  2| 45|
|Pradip|  0| 50|
|Pradip|  1| 45|
|Pradip|  2| 45|
|Pravin|  0| 50|
|Pravin|  1| 50|
|Pravin|  2| 50|
+------+---+---+

In [401]:
arrdf2.select('name',posexplode_outer('scores')).show()

+------+---+---+
|  name|pos|col|
+------+---+---+
| Nijan|  0| 50|
| Nijan|  1| 50|
| Nijan|  2| 45|
|Pradip|  0| 50|
|Pradip|  1| 45|
|Pradip|  2| 45|
|Pravin|  0| 50|
|Pravin|  1| 50|
|Pravin|  2| 50|
+------+---+---+

In [402]:
# flatten is used to extract the data in array of array elements
"""

flatten(col)


"""

'\n\nflatten(col)\n\n\n'

In [ ]:
# formatting Functions