In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('DataFrame').getOrCreate()

print('Session is Created')

24/01/10 14:33:07 WARN Utils: Your hostname, MaheshPC resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface enp5s0)
24/01/10 14:33:07 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/10 14:33:08 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/10 14:33:09 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/01/10 14:33:09 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/01/10 14:33:09 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/01/10 14:33:09 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/01/10 14:33:09 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
24/01/10 14:33:09 WARN Utils: Service 'SparkUI' could not bind on port 4045. Attempting port 4046.

Session is Created

In [7]:
ord = spark.read.load('Datasets/Orders',format='csv',sep=',',schema=('orderid int,orderdate timestamp,order_cust_id int,order_status string'))
ord.show()

+-------+-------------------+-------------+---------------+
|orderid|          orderdate|order_cust_id|   order_status|
+-------+-------------------+-------------+---------------+
|      1|2013-07-25 00:00:00|        11599|         CLOSED|
|      2|2013-07-25 00:00:00|          256|PENDING_PAYMENT|
|      3|2013-07-25 00:00:00|        12111|       COMPLETE|
|      4|2013-07-25 00:00:00|         8827|         CLOSED|
|      5|2013-07-25 00:00:00|        11318|       COMPLETE|
|      6|2013-07-25 00:00:00|         7130|       COMPLETE|
|      7|2013-07-25 00:00:00|         4530|       COMPLETE|
|      8|2013-07-25 00:00:00|         2911|     PROCESSING|
|      9|2013-07-25 00:00:00|         5657|PENDING_PAYMENT|
|     10|2013-07-25 00:00:00|         5648|PENDING_PAYMENT|
|     11|2013-07-25 00:00:00|          918| PAYMENT_REVIEW|
|     12|2013-07-25 00:00:00|         1837|         CLOSED|
|     13|2013-07-25 00:00:00|         9149|PENDING_PAYMENT|
|     14|2013-07-25 00:00:00|         9842|     PROCESSING|
|     15|2013-07-25 00:00:00|         2568|       COMPLETE|
|     16|2013-07-25 00:00:00|         7276|PENDING_PAYMENT|
|     17|2013-07-25 00:00:00|         2667|       COMPLETE|
|     18|2013-07-25 00:00:00|         1205|         CLOSED|
|     19|2013-07-25 00:00:00|         9488|PENDING_PAYMENT|
|     20|2013-07-25 00:00:00|         9198|     PROCESSING|
+-------+-------------------+-------------+---------------+
only showing top 20 rows

In [8]:
ord.printSchema()

root
 |-- orderid: integer (nullable = true)
 |-- orderdate: timestamp (nullable = true)
 |-- order_cust_id: integer (nullable = true)
 |-- order_status: string (nullable = true)

In [9]:
# to return a particular column as dataframe

ord.select(ord.order_status).show()

+---------------+
|   order_status|
+---------------+
|         CLOSED|
|PENDING_PAYMENT|
|       COMPLETE|
|         CLOSED|
|       COMPLETE|
|       COMPLETE|
|       COMPLETE|
|     PROCESSING|
|PENDING_PAYMENT|
|PENDING_PAYMENT|
| PAYMENT_REVIEW|
|         CLOSED|
|PENDING_PAYMENT|
|     PROCESSING|
|       COMPLETE|
|PENDING_PAYMENT|
|       COMPLETE|
|         CLOSED|
|PENDING_PAYMENT|
|     PROCESSING|
+---------------+
only showing top 20 rows

In [12]:
# to select data by col function
from pyspark.sql.functions import col
ord.select(col('orderid')).show()

+-------+
|orderid|
+-------+
|      1|
|      2|
|      3|
|      4|
|      5|
|      6|
|      7|
|      8|
|      9|
|     10|
|     11|
|     12|
|     13|
|     14|
|     15|
|     16|
|     17|
|     18|
|     19|
|     20|
+-------+
only showing top 20 rows

In [13]:
ord.select(col('orderid').alias('ID')).show()

+---+
| ID|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
| 20|
+---+
only showing top 20 rows

In [23]:
# converting column datatypes using casting

ord_cpy = ord.select(ord.orderid.cast('string'))

In [24]:

ord_cpy.printSchema()

root
 |-- orderid: string (nullable = true)

In [25]:
ord.select(ord.orderid.between(20,30)).show()

+-------------------------------------+
|((orderid >= 20) AND (orderid <= 30))|
+-------------------------------------+
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                false|
|                                 true|
+-------------------------------------+
only showing top 20 rows

In [28]:
ord.where(ord.order_status.contains('CLOSED')).show()

+-------+-------------------+-------------+------------+
|orderid|          orderdate|order_cust_id|order_status|
+-------+-------------------+-------------+------------+
|      1|2013-07-25 00:00:00|        11599|      CLOSED|
|      4|2013-07-25 00:00:00|         8827|      CLOSED|
|     12|2013-07-25 00:00:00|         1837|      CLOSED|
|     18|2013-07-25 00:00:00|         1205|      CLOSED|
|     24|2013-07-25 00:00:00|        11441|      CLOSED|
|     25|2013-07-25 00:00:00|         9503|      CLOSED|
|     37|2013-07-25 00:00:00|         5863|      CLOSED|
|     51|2013-07-25 00:00:00|        12271|      CLOSED|
|     57|2013-07-25 00:00:00|         7073|      CLOSED|
|     61|2013-07-25 00:00:00|         4791|      CLOSED|
|     62|2013-07-25 00:00:00|         9111|      CLOSED|
|     87|2013-07-25 00:00:00|         3065|      CLOSED|
|     90|2013-07-25 00:00:00|         9131|      CLOSED|
|    101|2013-07-25 00:00:00|         5116|      CLOSED|
|    116|2013-07-26 00:00:00|         8763|      CLOSED|
|    129|2013-07-26 00:00:00|         9937|      CLOSED|
|    133|2013-07-26 00:00:00|        10604|      CLOSED|
|    191|2013-07-26 00:00:00|           16|      CLOSED|
|    201|2013-07-26 00:00:00|         9055|      CLOSED|
|    211|2013-07-26 00:00:00|        10372|      CLOSED|
+-------+-------------------+-------------+------------+
only showing top 20 rows

In [30]:
ord.where(ord.order_status.like('C%')).show()

+-------+-------------------+-------------+------------+
|orderid|          orderdate|order_cust_id|order_status|
+-------+-------------------+-------------+------------+
|      1|2013-07-25 00:00:00|        11599|      CLOSED|
|      3|2013-07-25 00:00:00|        12111|    COMPLETE|
|      4|2013-07-25 00:00:00|         8827|      CLOSED|
|      5|2013-07-25 00:00:00|        11318|    COMPLETE|
|      6|2013-07-25 00:00:00|         7130|    COMPLETE|
|      7|2013-07-25 00:00:00|         4530|    COMPLETE|
|     12|2013-07-25 00:00:00|         1837|      CLOSED|
|     15|2013-07-25 00:00:00|         2568|    COMPLETE|
|     17|2013-07-25 00:00:00|         2667|    COMPLETE|
|     18|2013-07-25 00:00:00|         1205|      CLOSED|
|     22|2013-07-25 00:00:00|          333|    COMPLETE|
|     24|2013-07-25 00:00:00|        11441|      CLOSED|
|     25|2013-07-25 00:00:00|         9503|      CLOSED|
|     26|2013-07-25 00:00:00|         7562|    COMPLETE|
|     28|2013-07-25 00:00:00|          656|    COMPLETE|
|     32|2013-07-25 00:00:00|         3960|    COMPLETE|
|     35|2013-07-25 00:00:00|         4840|    COMPLETE|
|     37|2013-07-25 00:00:00|         5863|      CLOSED|
|     45|2013-07-25 00:00:00|         2636|    COMPLETE|
|     50|2013-07-25 00:00:00|         5225|    CANCELED|
+-------+-------------------+-------------+------------+
only showing top 20 rows

In [35]:
#ord.where(ord.order_status.startsWith('P')).select(ord.order_status).distinct().show()