In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Features').getOrCreate()
print('Spark Session is Created...')

24/01/10 12:25:02 WARN Utils: Your hostname, MaheshPC resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface enp5s0)
24/01/10 12:25:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/10 12:25:02 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/01/10 12:25:03 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

Spark Session is Created...

In [2]:
help(spark.sql)

Help on method sql in module pyspark.sql.session:

sql(sqlQuery: str, args: Union[Dict[str, Any], List, NoneType] = None, **kwargs: Any) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Returns a :class:`DataFrame` representing the result of the given query.
    When ``kwargs`` is specified, this method formats the given string by using the Python
    standard formatter. The method binds named parameters to SQL literals or
    positional parameters from `args`. It doesn't support named and positional parameters
    in the same SQL query.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect and parameterized SQL.

    .. versionchanged:: 3.5.0
        Added positional parameters.

    Parameters
    ----------
    sqlQuery : str
        SQL query string.
    args : dict or list
        A dictionary of parameter names to Python objects or a list of Python objects
        that can be converted to SQL literal expressions. See
        <a href="https://spark.apache.org/docs/latest/sql-ref-datatypes.html">
        Supported Data Types</a> for supported value types in Python.
        For example, dictionary keys: "rank", "name", "birthdate";
        dictionary or list values: 1, "Steven", datetime.date(2023, 4, 2).
        A value can be also a `Column` of literal expression, in that case it is taken as is.

        .. versionadded:: 3.4.0

    kwargs : dict
        Other variables that the user wants to set that can be referenced in the query

        .. versionchanged:: 3.3.0
           Added optional argument ``kwargs`` to specify the mapping of variables in the query.
           This feature is experimental and unstable.

    Returns
    -------
    :class:`DataFrame`

    Examples
    --------
    Executing a SQL query.

    >>> spark.sql("SELECT * FROM range(10) where id > 7").show()
    +---+
    | id|
    +---+
    |  8|
    |  9|
    +---+

    Executing a SQL query with variables as Python formatter standard.

    >>> spark.sql(
    ...     "SELECT * FROM range(10) WHERE id > {bound1} AND id < {bound2}", bound1=7, bound2=9
    ... ).show()
    +---+
    | id|
    +---+
    |  8|
    +---+

    >>> mydf = spark.range(10)
    >>> spark.sql(
    ...     "SELECT {col} FROM {mydf} WHERE id IN {x}",
    ...     col=mydf.id, mydf=mydf, x=tuple(range(4))).show()
    +---+
    | id|
    +---+
    |  0|
    |  1|
    |  2|
    |  3|
    +---+

    >>> spark.sql('''
    ...   SELECT m1.a, m2.b
    ...   FROM {table1} m1 INNER JOIN {table2} m2
    ...   ON m1.key = m2.key
    ...   ORDER BY m1.a, m2.b''',
    ...   table1=spark.createDataFrame([(1, "a"), (2, "b")], ["a", "key"]),
    ...   table2=spark.createDataFrame([(3, "a"), (4, "b"), (5, "b")], ["b", "key"])).show()
    +---+---+
    |  a|  b|
    +---+---+
    |  1|  3|
    |  2|  4|
    |  2|  5|
    +---+---+

    Also, it is possible to query using class:`Column` from :class:`DataFrame`.

    >>> mydf = spark.createDataFrame([(1, 4), (2, 4), (3, 6)], ["A", "B"])
    >>> spark.sql("SELECT {df.A}, {df[B]} FROM {df}", df=mydf).show()
    +---+---+
    |  A|  B|
    +---+---+
    |  1|  4|
    |  2|  4|
    |  3|  6|
    +---+---+

    And substitude named parameters with the `:` prefix by SQL literals.

    >>> spark.sql("SELECT * FROM {df} WHERE {df[B]} > :minB", {"minB" : 5}, df=mydf).show()
    +---+---+
    |  A|  B|
    +---+---+
    |  3|  6|
    +---+---+

    Or positional parameters marked by `?` in the SQL query by SQL literals.

    >>> spark.sql(
    ...   "SELECT * FROM {df} WHERE {df[B]} > ? and ? < {df[A]}",
    ...   args=[5, 2], df=mydf).show()
    +---+---+
    |  A|  B|
    +---+---+
    |  3|  6|
    +---+---+

In [3]:
# to perform sql in spark session

lst1 = [('Pradeep',25),('Pravin',24)]

lst2 = [('Pradeep',101),('Pravin',102)]

df_emp = spark.createDataFrame(data=lst1,schema=['Name','Age'])
df_dept = spark.createDataFrame(data=lst2,schema=['Name','Deptid'])

print('DataFrame Created')

DataFrame Created

In [4]:
df_emp.show()
df_dept.show()

+-------+---+
|   Name|Age|
+-------+---+
|Pradeep| 25|
| Pravin| 24|
+-------+---+

+-------+------+
|   Name|Deptid|
+-------+------+
|Pradeep|   101|
| Pravin|   102|
+-------+------+

In [7]:
# to create temporary view in the data

df_emp.createOrReplaceTempView('emp')
df_dept.createOrReplaceGlobalTempView('dept')

print('View Created to both dataframe')

View Created to both dataframe

In [8]:
# implementing sql statements in the pyspark

res = spark.sql("""select * from emp where age=24""")
res.show()

+------+---+
|  Name|Age|
+------+---+
|Pravin| 24|
+------+---+

In [10]:
res1= spark.sql("""select * from global_temp.dept where deptid=101""")
res1.show()

+-------+------+
|   Name|Deptid|
+-------+------+
|Pradeep|   101|
+-------+------+

In [13]:
# table functions

help(spark.table)

Help on method table in module pyspark.sql.session:

table(tableName: str) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Returns the specified table as a :class:`DataFrame`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    tableName : str
        the table name to retrieve.

    Returns
    -------
    :class:`DataFrame`

    Examples
    --------
    >>> spark.range(5).createOrReplaceTempView("table1")
    >>> spark.table("table1").sort("id").show()
    +---+
    | id|
    +---+
    |  0|
    |  1|
    |  2|
    |  3|
    |  4|
    +---+

In [14]:
# to create table from sql

df_empt = spark.table('emp')

df_empt.show()

+-------+---+
|   Name|Age|
+-------+---+
|Pradeep| 25|
| Pravin| 24|
+-------+---+