In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Features').getOrCreate()
print('Spark Session is Created...')

24/01/10 12:05:36 WARN Utils: Your hostname, MaheshPC resolves to a loopback address: 127.0.1.1; using 192.168.1.7 instead (on interface enp5s0)
24/01/10 12:05:36 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/10 12:05:36 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Spark Session is Created...

In [4]:
help (spark.createDataFrame)

Help on method createDataFrame in module pyspark.sql.session:

createDataFrame(data: Union[pyspark.rdd.RDD[Any], Iterable[Any], ForwardRef('PandasDataFrameLike'), ForwardRef('ArrayLike')], schema: Union[pyspark.sql.types.AtomicType, pyspark.sql.types.StructType, str, NoneType] = None, samplingRatio: Optional[float] = None, verifySchema: bool = True) -> pyspark.sql.dataframe.DataFrame method of pyspark.sql.session.SparkSession instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list, a :class:`pandas.DataFrame`
    or a :class:`numpy.ndarray`.

    .. versionadded:: 2.0.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    data : :class:`RDD` or iterable
        an RDD of any kind of SQL data representation (:class:`Row`,
        :class:`tuple`, ``int``, ``boolean``, etc.), or :class:`list`,
        :class:`pandas.DataFrame` or :class:`numpy.ndarray`.
    schema : :class:`pyspark.sql.types.DataType`, str or list, optional
        a :class:`pyspark.sql.types.DataType` or a datatype string or a list of
        column names, default is None. The data type string format equals to
        :class:`pyspark.sql.types.DataType.simpleString`, except that top level struct type can
        omit the ``struct<>``.

        When ``schema`` is a list of column names, the type of each column
        will be inferred from ``data``.

        When ``schema`` is ``None``, it will try to infer the schema (column names and types)
        from ``data``, which should be an RDD of either :class:`Row`,
        :class:`namedtuple`, or :class:`dict`.

        When ``schema`` is :class:`pyspark.sql.types.DataType` or a datatype string, it must
        match the real data, or an exception will be thrown at runtime. If the given schema is
        not :class:`pyspark.sql.types.StructType`, it will be wrapped into a
        :class:`pyspark.sql.types.StructType` as its only field, and the field name will be
        "value". Each record will also be wrapped into a tuple, which can be converted to row
        later.
    samplingRatio : float, optional
        the sample ratio of rows used for inferring. The first few rows will be used
        if ``samplingRatio`` is ``None``.
    verifySchema : bool, optional
        verify data types of every row against schema. Enabled by default.

        .. versionadded:: 2.1.0

    Returns
    -------
    :class:`DataFrame`

    Notes
    -----
    Usage with `spark.sql.execution.arrow.pyspark.enabled=True` is experimental.

    Examples
    --------
    Create a DataFrame from a list of tuples.

    >>> spark.createDataFrame([('Alice', 1)]).show()
    +-----+---+
    |   _1| _2|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a list of dictionaries.

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> spark.createDataFrame(d).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  1|Alice|
    +---+-----+

    Create a DataFrame with column names specified.

    >>> spark.createDataFrame([('Alice', 1)], ['name', 'age']).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the explicit schema specified.

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> spark.createDataFrame([('Alice', 1)], schema).show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame with the schema in DDL formatted string.

    >>> spark.createDataFrame([('Alice', 1)], "name: string, age: int").show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create an empty DataFrame.
    When initializing an empty DataFrame in PySpark, it's mandatory to specify its schema,
    as the DataFrame lacks data from which the schema can be inferred.

    >>> spark.createDataFrame([], "name: string, age: int").show()
    +----+---+
    |name|age|
    +----+---+
    +----+---+

    Create a DataFrame from Row objects.

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> df = spark.createDataFrame([Person("Alice", 1)])
    >>> df.show()
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+

    Create a DataFrame from a pandas DataFrame.

    >>> spark.createDataFrame(df.toPandas()).show()  # doctest: +SKIP
    +-----+---+
    | name|age|
    +-----+---+
    |Alice|  1|
    +-----+---+
    >>> spark.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    +---+---+
    |  0|  1|
    +---+---+
    |  1|  2|
    +---+---+

In [11]:
# create dataframe using list
lst = [('Mahesh',25),('Ajay',23)]
df_lst= spark.createDataFrame(data=lst,schema=['Name','Age'])
df_lst.show()

+------+---+
|  Name|Age|
+------+---+
|Mahesh| 25|
|  Ajay| 23|
+------+---+

In [12]:
df_lst.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: long (nullable = true)

In [14]:
# creating dataframe from dictionary

dct = [{'name':'Mahesh','score':90},{'name':'Aneesh','score':99}]

df_dct = spark.createDataFrame(dct)

df_dct.show()

df_dct.printSchema()

+------+-----+
|  name|score|
+------+-----+
|Mahesh|   90|
|Aneesh|   99|
+------+-----+

root
 |-- name: string (nullable = true)
 |-- score: long (nullable = true)

In [17]:
# create Dataframe with rdd
sc = spark.sparkContext

rdd = sc.parallelize(lst)

df_rdd = spark.createDataFrame(rdd,schema=['Name','Age'])

df_rdd.show()

+------+---+
|  Name|Age|
+------+---+
|Mahesh| 25|
|  Ajay| 23|
+------+---+

In [18]:
# Row DataFrame RDD
from pyspark.sql import Row

r = Row(name='Ashi',age=23)

r.name

'Ashi'

In [21]:
rdd_row = sc.parallelize([Row(name='Ashi',age=23),Row(name='Durga',age=22)])

df_row = spark.createDataFrame(data=rdd_row)

df_row.show()

+-----+---+
| name|age|
+-----+---+
| Ashi| 23|
|Durga| 22|
+-----+---+

In [23]:
# using pandas to create dataframe

import pandas as pd

p = [['Swathy',23],['Susi',24]]

df_p = pd.DataFrame(p,columns=['Name','Age'])

df_p

     Name  Age
0  Swathy   23
1    Susi   24

In [24]:
# to create from pandas dataframe

df_pd = spark.createDataFrame(data=df_p)

df_pd.show()

/home/mahesh/.local/lib/python3.10/site-packages/pyspark/sql/pandas/conversion.py:485: FutureWarning: is_datetime64tz_dtype is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.DatetimeTZDtype)` instead.
  if should_localize and is_datetime64tz_dtype(s.dtype) and s.dt.tz is not None:

+------+---+
|  Name|Age|
+------+---+
|Swathy| 23|
|  Susi| 24|
+------+---+